/* Custom Style */

.validate_checkbox{
  width: 400px;
  margin-left: 15px !important;
  display: none !important;
}


.ms-parent{
  width: 100% !important;
  /*width: 289px;*/
  font: 13.3333px Arial;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 13.3333px;
  line-height: normal;
  font-family: Arial;
  font-style: italic;
  color: #7a7a7a;
  /* margin-left: -16px;*/
}


.ms-drop input[type=checkbox], .ms-parent {
  width: 19px;
}