html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.table thead th {
    font-weight: 600;
    border-top: 0;
}
.table thead th {
    font-weight: 600;
    border-top: 0;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Open Sans";
    src: url(font-url('OpenSans-Light.svg#family')) format("svg");
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#Open Sans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Open Sans";
    src: url(font-url('OpenSans.svg#family')) format("svg");
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#Open Sans") format("svg");
  font-weight: 600;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Open Sans";
    src: url(font-url('OpenSans-Semibold.svg#family')) format("svg");
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#Open Sans") format("svg");
  font-weight: bold;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Open Sans";
    src: url(font-url('OpenSans-Bold.svg#family')) format("svg");
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Extrabold.eot");
  src: url("../fonts/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Extrabold.woff") format("woff"), url("../fonts/OpenSans-Extrabold.ttf") format("truetype"), url("../fonts/OpenSans-Extrabold.svg#Open Sans") format("svg");
  font-weight: 800;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Open Sans";
    src: url(font-url('OpenSans-Extrabold.svg#family')) format("svg");
  }
}
body {
  min-height: 100vh;
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 0.99rem;
  color: #727175;
  line-height: 1.3em;
}
#pagina {
  background-color: #737277;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  color: #fff;
}
header .logo {
  padding: 0.5rem 0 0.1rem 0;
  display: inline-block;
}
#menu {
  background-color: #f89601;
  padding: 0 1rem;
  margin-top: -3px;
}
@media only screen and (max-width: 768px) {
  #menu {
    position: absolute;
    top: 68px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.6rem 1rem;
  }
}
#menu input {
  display: none;
}
#menu .control {
  display: none;
}
@media only screen and (max-width: 768px) {
  #menu .control {
    margin-top: 5px;
    display: block;
    border-top: 9px double #fff;
    border-bottom: 3px solid #fff;
    height: 3px;
    width: 20px;
    margin-right: 15px;
    float: left;
  }
}
#menu .lista {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #menu .lista {
    display: none;
    width: 100%;
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 1;
    background: #676767;
    padding: 10px 0 0 0;
    max-height: calc(100vh - 60px);
    overflow: scroll;
    background: azul2;
  }
}
#menu .lista li {
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  #menu .lista li {
    display: block;
  }
}
#menu .lista a {
  color: #f8f8f8;
  text-decoration: none;
  display: block;
  padding: 0.84rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
}
@media only screen and (max-width: 768px) {
  #menu .lista a {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
  }
}
#menu .lista a:hover {
  background: #d28213;
}
#menu .lista .activo {
  text-decoration: none;
  display: block;
  padding: 0.84rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  background: #d28213;
}
#menu input:checked + .lista {
  display: block;
}
#usuario {
  padding: 0.5rem;
  text-align: right;
  position: absolute;
  top: 13px;
  right: 10px;
}
@media only screen and (max-width: 768px) {
  #usuario {
    position: absolute;
    top: 70px;
    right: 10px;
  }
}
#usuario h2,
#usuario a {
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.4px;
}
div#precioesta_t table tbody tr td:last-child a {
    display: inline-block;
    margin-right: 15px;
}
.table thead th {
    font-size: 13px;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
@media only screen and (max-width: 768px) {
  #usuario h2,
  #usuario a {
    font-size: 0.78125rem;
    color: #f8f8f8;
  }
}
#usuario h2 {
  padding-right: 15px;
  border-right: 1px solid rgba(255,255,255,0.5);
  margin-right: 10px;
  font-weight: 600;
}
#usuario a {
  text-decoration: none;
}
#cuerpo {
  position: absolute;
  top: 7.1rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}
#cuerpo h1 {
  color: #f89601;
}
#cuerpo .superior {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
@media (max-width: 768px) {
  #cuerpo .superior {
    display: block;
  }
}
#cuerpo .contenedor {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #f8f8f8;
  padding: 15px;
}
#cuerpo .tit-1 {
  font-weight: 700;
  display: block;
  font-size: 0.8125rem;
  margin-bottom: 5px;
  color: #343434;
  min-width: 90px;
}
table#departamento_t {
    margin-top: 20px;
}
@media (min-width: 1200px){
  .container {
      max-width: 1390px!important;
  }
}
.tab-pane.active.text-center .form-group {
    width: 94%!important;
}
table#estacionamiento_t {
    margin-top: 20px;
}
table#depositos_t {
  margin-top: 20px;
}
table#documento_t {
  margin-top: 20px;
}
/* bloques */
.fila {
  margin-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fila label {
  font-size: 0.8em;
}
.fila select,
.fila input,
.fila textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px;
  font-size: 0.884375rem;
  letter-spacing: 0.3px;
  color: #727175;
  font-family: "Helvetica";
  outline: none;
  border: 1px solid #d0d0d0;
}
.fila .radios {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fila .radios label {
  padding-right: 20px;
  cursor: pointer;
  position: relative;
}
.fila .radios label input,
.fila .radios label span {
  display: inline-block;
  width: auto;
  font-size: 0.875rem;
  font-weight: 400;
}
.fila .radios label input[type="radio"]:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  -webkit-box-shadow: 0 0 1px #999;
  box-shadow: 0 0 1px #999;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: -1px;
  background: #fff;
}
.fila .radios label input[type="radio"]:before {
  content: '';
  width: 9px;
  height: 9px;
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  top: 5px;
  left: 7px;
}
.fila .radios label input[type="radio"]:checked:before {
  background: #f89601;
}
.fila .radios label input[type="checkbox"]:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  -webkit-box-shadow: 0 0 1px #999;
  box-shadow: 0 0 1px #999;
  position: relative;
  top: -1px;
  left: -1px;
  background: #fff;
}
.fila .radios label input[type="checkbox"]:before {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  z-index: 9;
  top: 4px;
  left: 4px;
}
.fila .radios label input[type="checkbox"]:checked:before {
  background: url("../img/checked.png") no-repeat;
}
figure {
  max-width: 100%;
  background-color: #b3b3b3;
  background-image: -webkit-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747), -webkit-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747);
  background-image: -moz-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747), -moz-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747);
  background-image: -o-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747), -o-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747);
  background-image: -ms-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747), -ms-linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747);
  background-image: linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747), linear-gradient(45deg, #474747 25%, transparent 25%, transparent 75%, #474747 75%, #474747);
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
figure img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}
.botones-final {
  background: crema14;
  margin: 0 8px;
  margin-bottom: -15px;
}
#medios .imagen,
.portada .imagen {
  margin-bottom: 0.5rem;
}
@media (max-width: 425px) {
  #medios .titular .boton-1,
  .portada .titular .boton-1 {
    width: 70px;
    margin-left: 10px;
  }
}
.upload {
  margin-bottom: 10px;
  width: 100%;
}
.upload .campo {
  font-size: 0.875rem;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 15px;
  width: calc(100% - 110px);
  margin-top: 24px;
  height: 36px;
}
.upload .adjunto-img {
  position: absolute;
  width: 0;
  overflow: hidden;
}
.upload label {
  display: block;
  background: transparent;
  position: relative;
}
.upload label:before {
  content: 'Foto';
  display: inline-block;
  color: #9a9a9a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  right: 0;
  height: inherit;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
}
.upload label[title]:not([title=""]):before {
  content: attr(title);
}
.table td {
    padding-left: 20px;
}
#cuerpo h1:nth-child(1) {
    color: #f89601;
    margin-left: 6%;
}
#cuerpo h1:nth-child(2) {
    color: #f89601;
    margin-left: 0;
}
.upload span {
  position: absolute;
  z-index: 1;
  width: 100px;
  display: inline-block;
  background: #f89601;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 7px;
  padding: 4px 5px;
  color: #fff!important;
  font-size: 0.75rem;
  top: 0;
  right: -110px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 600;
  margin-top: 5px;
}
button.btn.btn-lg.btn-common.next-step.next-button {
    float: right;
    margin-right: 5%;
}
table#vendedores_t {
  margin-top: 20px;
}
input.btn.btn-lg.btn-common.next-step.next-button {
    border-radius: 7px;
    padding: 7px 25px;
    font-size: 1rem;
    font-weight: 600;
}
#acciones {
  padding: 1rem 0.5rem;
  margin: 30px 10px 0 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #acciones {
    margin: 0;
  }
}
#acciones .boton-1 {
  font-size: 0.913125rem;
  margin: 0 15px;
  padding: 8px 0;
  width: 140px;
  border-radius: 12px;
}
.carrusel {
  margin-bottom: 0.5rem;
}
.carrusel ul {
  border: crema14;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.carrusel ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.superior {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.superior h1 {
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.superior .acciones {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  max-width: 280px;
}
@media (max-width: 425px) {
  .superior .acciones {
    max-width: 100%;
    display: block;
  }
}
.acciones {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .acciones {
    margin-top: 10px;
  }
}
@media (max-width: 425px) {
  .acciones {
    display: block;
  }
}
.acciones>* + * {
  margin-left: 1rem;
}
.acciones .filtro {
  background-color: #f0f0f0;
  border-radius: 8px;
}
@media (max-width: 425px) {
  .acciones .filtro {
    width: 100%;
    margin-bottom: 6px;
  }
}
.acciones .filtro input {
  display: block;
  min-height: 1rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #d2d2d2;
}
@media (max-width: 425px) {
  .acciones .filtro input {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .acciones #agregar {
    width: 100px;
    margin: auto;
  }
}
.acciones .desplegable {
  font-weight: bold;
  background-color: #b3b3b3;
  font-size: 1rem;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 2rem;
}
@media (max-width: 425px) {
  .acciones .desplegable {
    margin-bottom: 6px;
    margin-left: 0;
  }
}
.acciones .desplegable button {
  margin: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.acciones .desplegable .control {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.acciones .desplegable .control label {
  display: block;
  line-height: 1;
  color: #fff;
}
.acciones .desplegable .control::after {
  content: "";
  display: block;
  margin-left: 0.8rem;
  border: 0.48rem solid transparent;
  border-top: 0.8rem solid #fff;
  border-bottom-width: 0;
  -webkit-transition: 350ms -webkit-transform;
  -moz-transition: 350ms -moz-transform;
  -o-transition: 350ms -o-transform;
  -ms-transition: 350ms -ms-transform;
  transition: 350ms transform;
}
@media (max-width: 425px) {
  .acciones .desplegable .control::after {
    margin-left: 0;
  }
}
.acciones .desplegable .lista {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 150ms max-height;
  -moz-transition: 150ms max-height;
  -o-transition: 150ms max-height;
  -ms-transition: 150ms max-height;
  transition: 150ms max-height;
  max-height: 0vh;
  overflow: hidden;
  background-color: #e0e0e0;
}
.acciones .desplegable .lista button {
  background-color: #e0e0e0;
  border-radius: 0;
  color: #f8f8f8;
}
.acciones .desplegable .lista button + button {
  border-top: 1px solid #c2c2c2;
}
.acciones .desplegable .lista button:hover {
  background-color: #b3b3b3;
}
.acciones .desplegable.abierto .control::after {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.acciones .desplegable.abierto .lista {
  max-height: 50vh;
  -webkit-transition: 750ms max-height;
  -moz-transition: 750ms max-height;
  -o-transition: 750ms max-height;
  -ms-transition: 750ms max-height;
  transition: 750ms max-height;
}
.acciones a,
.acciones button {
  line-height: 1;
  font-size: 1rem;
  min-width: 80px;
  font-family: "Open Sans";
  display: block;
  background: #676767;
  color: #fff!important;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 7px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.2px;
  margin: 0 0 0 5px;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none!important;
}

.acciones a:hover,
.acciones button:hover {
  background: #535353;
}
#contenido {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media (max-width: 700px) {
  #contenido {
    display: block;
  }
}
#contenido.listado {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#contenido .principal {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 45%;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  #contenido .principal {
    padding: 0.5rem;
  }
}
#contenido .principal .atributos {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: block;
}
#contenido .principal .atributos .fila {
    display: inline-block;
    width: 48%;
}
#contenido .principal .atributos .fila select {
    width: 90%;
}
@media (max-width: 700px) {
  #contenido .principal .atributos {
    display: block;
  }
}
#contenido .principal .seo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contenido .principal .contenidos {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#contenido .lateral {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contenido .item {
  margin: 0.5rem;
  padding: 1rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 180px;
  -ms-flex: 1 0 180px;
  flex: 1 0 180px;
  max-width: 260px;
  background-color: #ebeae6;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #676767;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contenido .item figure {
  position: relative;
  margin-bottom: 0.5rem;
}
#contenido .item figure::before {
  content: " ";
  display: block;
  padding-top: 90%;
}
#contenido .item figure img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}
#contenido .item h3 {
  line-height: 1.2;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.8125rem;
  color: #494949;
}
#contenido .item .acciones {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: -0.5rem;
  padding: 0.5rem;
}
#contenido .item .categoria {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 60%;
  font-size: 0.8em;
  text-align: right;
  padding: 0.5em;
  font-weight: 500;
  color: #fff;
  background: rgba(248,150,1,0.99);
}
#contenido table {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin: 0.5rem;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contenido table th {
  padding: 0.5rem;
  text-align: center;
  background-color: #333;
  color: #d1d1d1;
  width: auto;
}
#contenido table th:first-child,
#contenido table th:last-child {
  width: 1%;
}
#contenido table tbody tr:nth-child(odd) {
  background-color: rgba(92,92,92,0.1);
}
#contenido table tbody tr td {
  padding: 0.4rem 0.3rem;
  text-align: center;
}
.portada {
  margin-bottom: 30px;
}
#medios figure,
.portada figure {
  width: auto;
  display: inline-block;
}
#medios figure img,
.portada figure img {
  height: 90px;
}
.titular {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  max-width: 100%;
  line-height: 1;
}
.titular h3 {
  font-size: 0.8125rem;
  color: #343434;
  font-weight: 700;
  width: 80%;
}
@media (max-width: 425px) {
  .titular h3 {
    width: 100%;
  }
}
.titular h3 .medida-sug {
  color: #727175;
  font-weight: 300;
  margin-left: 10px;
}
@media (max-width: 425px) {
  .titular h3 .medida-sug {
    display: block;
    margin-left: 0;
  }
}
.titular h3 .campo-adj {
  margin-top: 6px;
  max-width: 430px;
}
.editor {
  background: #fff;
  height: 100px !important;
  border: 1px solid rgba(0,0,0,0.2) !important;
}
.editor p {
  font-family: "Open Sans" !important;
  font-size: 0.9375rem;
}
.dialogo-confirmacion {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
  max-height: 110px;
  -webkit-transition: top 300ms;
  -moz-transition: top 300ms;
  -o-transition: top 300ms;
  -ms-transition: top 300ms;
  transition: top 300ms;
  -webkit-box-shadow: 0 0 20px plomo1;
  box-shadow: 0 0 20px plomo1;
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
}
.dialogo-confirmacion h4 {
  font-weight: 600;
  color: #f89601;
  font-size: 1.0625rem;
  margin-bottom: 20px;
}
.dialogo-confirmacion p {
  font-weight: 500;
}
.dialogo-confirmacion button {
  display: inline-block;
  margin: 1.5em 1em;
  border: 0;
  outline: none;
  background: #f89601;
  cursor: pointer;
  font-weight: 600;
  border-radius: 7px;
  padding: 7px 5px;
  color: #fff!important;
  font-size: 0.75rem;
}
.dialogo-confirmacion button:hover {
  background: #ce9c55;
}
.dialogo {
  z-index: 3;
  position: fixed;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 90vw;
  max-height: 70vh;
  -webkit-transition: top 300ms;
  -moz-transition: top 300ms;
  -o-transition: top 300ms;
  -ms-transition: top 300ms;
  transition: top 300ms;
}
.dialogo::before {
  z-index: -1;
  content: " ";
  display: block;
  position: fixed;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: top 200ms;
  -moz-transition: top 200ms;
  -o-transition: top 200ms;
  -ms-transition: top 200ms;
  transition: top 200ms;
  background-color: rgba(51,51,51,0.8);
}
.dialogo.visible {
  top: 0;
}
.dialogo.visible::before {
  top: 0;
}
.dialogo .titular {
  background-color: #f89601;
  padding: 0.5rem;
  margin-bottom: 0;
  color: #d1d1d1;
}
.dialogo .titular h4 {
  color: #fff;
  font-weight: 600;
}
.dialogo .titular .cerrar {
  background: #f89601;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  font-size: 1.125rem;
}
.dialogo .contenedor {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  overflow: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
}
.dialogo .contenedor button {
  margin: 0.5rem;
  border: none;
  padding: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  cursor: pointer;
}
.dialogo .contenedor button figure {
  max-width: 180px;
  display: block;
  position: relative;
}
.camp {
  background: #fff;
  width: 100%;
  border-radius: 11px;
  border: 1px solid rgba(248,150,1,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px;
  font-size: 0.946875rem;
  letter-spacing: 0.3px;
  color: #727175;
  font-family: "Helvetica";
  outline: none;
}
.camp2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 15px;
  font-size: 0.884375rem;
  letter-spacing: 0.3px;
  color: #f8f8f8;
  font-family: "Helvetica";
  outline: none;
}
.boton-1 {
  width: 100px;
  display: inline-block;
  background: #f89601!important;
  font-weight: 600!important;
  outline: none!important;
  text-decoration: none!important;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.2px;
  margin: 0;
  border-radius: 7px!important;
  padding: 7px 5px!important;
  color: #fff!important;
  font-size: 0.75rem!important;
  font-family: "Open Sans";
  text-align: center;
  line-height: 1;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
  margin-top: 10px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    height: 33px;
    padding-top: 5px;
    font-weight: 600;
    text-align: right;
    padding-right: 25px;
}
.fila input {
    display: inline-block;
    width: 90%;
    height: 36px;
    border-radius: 5px;
}
table#estacionamiento_t tbody td input,
table#estacionamiento_t tbody td select {
    width: 70%;
}
table#estacionamiento_t tbody td:last-child {
    display: flex;
}
table#estacionamiento_t tbody td:last-child a {
    display: inline-block;
    margin-right: 15px;
}
form#lp_departamentos span.boton-1.agregar_a_tabla {
    margin-top: 16%;
}
#contenido .principal .atributos .atributos {
    margin-left: 10%;
}
table#preciodepa_table tbody td {
    width: 15%;
}
table#preciodepa_table tbody td:last-child a {
    display: inline-block;
    margin-right: 15px;
}
table#preciodepa_table tbody td:last-child {
    width: 20%;
    text-align: center;
}
table#preciodepa_table tbody td input,
div#precioesta_t tbody td input{
    margin-bottom: 0;
    vertical-align: sub;
    padding-left: 10px;
    width: 80%;
    margin: 0 auto;
}
table#preciodepa_table thead th,
table#preciodepa_table tbody td {
    border-left: 0;
    border-right: 0;
}
#precioesta_t table thead th,
#precioesta_t table tbody td {
    border-right: 0;
    border-left: 0;
}
table#preciodepa_table tbody td:last-child {
    width: 20%;
    text-align: center;
}
#precioesta_t table tbody td:last-child {
    width: 20%;
    text-align: center;
}
div#precioesta span.boton-1.agregar_a_tabla {
    margin-top: 9%;
}
table#departamento_t th,
table#preciodepa_table th {
    font-size: 13px;
}
table#departamento_t select {
    width: 80%;
}
table#departamento_t input[type="file"] {
    font-size: 13px;
    width: 90%;
}
table#departamento_t tbody tr td:last-child {
    display: flex;
}
table#departamento_t tbody tr td:nth-child(9) {
    text-align: center;
}
table#departamento_t tbody tr td:last-child a {
    display: inline-block;
    margin-right: 10px;
}
div#departamento span.boton-1.agregar_a_tabla {
    margin-top: 9%;
    margin-left: -100px;
}
div#departamento {
    margin-bottom: 30px;
}
.head-top {
    background: #a9a8a8;
}
div#depositos span.boton-1.agregar_a_tabla {
    margin-top: 14%;
}
table#depositos_t tbody td:last-child a {
    display: inline-block;
    margin-right: 15px;
}
table#depositos_t tbody td:last-child {
    display: flex;
}
input {
    font-size: 0.884375rem;
}
table tbody td select {
    font-size: 0.884375rem;
    height: 27px;
}
select {
    font-size: 0.884375rem;
}
div#documento span.boton-1.agregar_a_tabla.deposito_button {
    margin-top: 10%;
}
div#vendedores span.boton-1.agregar_a_tabla {
    margin-top: 28px;
}
table#vendedores_t tbody tr td:last-child a {
    display: inline-block;
    margin-right: 15px;
}
table#vendedores_t tbody tr td:last-child {
    display: flex;
}
button.btn.btn-primary {
    margin-top: 25px;
}
.btn.btn-lg.btn-common.visitas_button {
    width: 100px;
    display: block;
    font-family: "Open Sans";
    line-height: 1;
    font-weight: 600!important;
    border-radius: 7px!important;
    padding: 7px 5px!important;
    color: #fff!important;
    font-size: 0.75rem!important;
    border: 0;
    outline: none!important;
    cursor: pointer;
    letter-spacing: 0.2px;
    margin: 0 auto;
    text-decoration: none!important;
    background: #f89601!important;
    text-align: center;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -ms-transition: background 0.4s;
    transition: background 0.4s;
}
.btn.btn-lg.btn-common.next-button.boton-1.vendedor_button {
    width: 100px;
    display: block;
    font-family: "Open Sans";
    line-height: 1;
    font-weight: 600!important;
    border-radius: 7px!important;
    padding: 7px 5px!important;
    color: #fff!important;
    font-size: 0.75rem!important;
    border: 0;
    outline: none!important;
    cursor: pointer;
    letter-spacing: 0.2px;
    margin: 0 auto;
    text-decoration: none!important;
    background: #f89601!important;
    text-align: center;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -ms-transition: background 0.4s;
    transition: background 0.4s;
}
.row.visitas_form .row .col-md-6 input, .row.visitas_form .row .col-md-6 select {
    width: 75%!important;
    margin-left: 10px;
}
form#visitas_form_container .row {
    width: 95%;
    margin: 0 auto;
}
form#visitas_form_container .row .col-md-5 {
    display: flex;
}
.row.visitas_form .row .col-md-6 label {
    text-align: right;
    padding-right: 0;
    display: inline-block;
    margin-bottom: .5rem;
    height: 33px;
    padding-top: 5px;
    font-weight: 600;
    line-height: 1;
}
div#seguimiento div#departamento span.boton-1.agregar_a_tabla {
    margin-top: 9%;
    margin-left: -45px;
}
table#seguimiento_table {
    border: 0;
}
table#seguimiento_table th,
table#seguimiento_table td {
    border-left: 0;
    border-right: 0;
}
div#seguimiento input {
    border-radius: 5px;
}
/*.atributos input {
    border-radius: 5px;
    width: 90%;
    display: inline-block;
}
.atributos .fila {
    width: 80%;
    margin: 0 auto;
}*/
form#visitas_form_container .row .col-md-5 span.tit-1 {
    width: 160px;
    text-align: right;
    padding-right: 12px;
    display: inline-block;
    margin-bottom: .5rem;
    height: 36px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
}
form#visitas_form_container .row .col-md-5 input.form-control-file.border {
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}
@media (max-width: 425px) {
  .boton-1 {
    font-size: 0.9375rem;
  }
}
.boton-1:hover {
  background: #d28213;
}
.boton-1.boton-2 {
  background: #676767;
}
.boton-1.boton-2:hover {
  background: #535353;
}
.enviar {
  background: #f89601;
  color: #fff;
  font-size: 0.9475rem;
  font-weight: 600;
  width: 150px;
  border-radius: 13px;
  padding: 7px 0;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  margin: auto;
  font-family: "Helvetica";
}
@media only screen and (max-width: 768px) {
  .enviar {
    font-size: 0.875rem;
    margin: 0 auto;
    letter-spacing: normal;
  }
}
button.btn,
a.btn {
  width: 100px;
  display: block;
  font-family: "Open Sans";
  line-height: 1;
  font-weight: 600;
  border-radius: 7px;
  padding: 7px 5px;
  color: #fff!important;
  font-size: 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.2px;
  margin: 0;
  text-decoration: none;
  background: #f89601;
  text-align: center;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
}
button.btn:hover,
a.btn:hover {
  background: #d28213;
}
button.btn.eliminar,
a.btn.eliminar {
  background: #676767;
}
button.btn.eliminar:hover,
a.btn.eliminar:hover {
  background: #4e4e4e;
}
#alerta {
  background: rgba(0,0,0,0.53);
  outline: 1px solid #f00;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  visibility: hidden;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 9;
}
#alerta .acciones {
  max-width: 220px;
  margin: 25px auto 0 auto;
}
@media (max-width: 425px) {
  #alerta .acciones {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
#alerta .msg-box {
  background: #fff;
  text-align: center;
  padding: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
@media (max-width: 425px) {
  #alerta .msg-box {
    padding: 50px 25px;
  }
}
#alerta .msg-box h2 {
  font-size: 1.6875rem;
  color: #000;
  margin-bottom: 20px;
}
#alerta .btn {
  border-radius: 6px;
  font-size: 0.875rem;
  padding: 10px 8px;
}
@media (max-width: 425px) {
  #alerta .btn {
    font-size: 0.8125rem;
    padding: 8px 6px;
  }
}
#alerta.activ {
  visibility: visible;
}
#alerta.activ .msg-box {
  -webkit-transition: all 0.4s cubic-bezier(0, 1.27, 1, 0.98);
  -moz-transition: all 0.4s cubic-bezier(0, 1.27, 1, 0.98);
  -o-transition: all 0.4s cubic-bezier(0, 1.27, 1, 0.98);
  -ms-transition: all 0.4s cubic-bezier(0, 1.27, 1, 0.98);
  transition: all 0.4s cubic-bezier(0, 1.27, 1, 0.98);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#alerta.activ ~ .pagina,
#alerta.activ + #encabezado {
  filter: blur(2.7px);
}
#msg-confirmation {
  text-align: center;
}
#msg-confirmation .msg {
  border-radius: 5px;
  padding: 7px 30px;
  z-index: 9;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 0.8125rem;
  text-align: center;
  display: inline-block;
}
@media (max-width: 425px) {
  #msg-confirmation .msg {
    padding: 7px 10px;
  }
}
#msg-confirmation .positivo {
  background: #def2d6;
  border: 1px solid #a4c995;
  color: #5c7054;
}
#msg-confirmation .negativo {
  background: #edc7c4;
  border: 1px solid #d8a4a0;
  color: #b1484d;
}
/*.ocultar
	transform scale(0)*/
label{
  width: 20%;
  float: left;
}
.form-control {
    width: 80%!important;
    float: left!important;
    margin-bottom: 13px;
}