*::-webkit-input-placeholder {
  color: #909090;
}
*:-moz-placeholder {
  color: #909090;
}
*::-moz-placeholder {
  color: #909090;
}
*:-ms-input-placeholder {
  color: #909090;
}
body {
  background: #343434;
}
#cuerpo {
  position: static;
  top: 0;
  background: transparent;
  padding: 0;
}
@media (max-width: 425px) {
  .logo img {
    width: 140px;
  }
}
.portada-home {
  min-height: 100vh;
  width: 100%;
}
.portada-home .logo {
  margin: 10px 0;
}
@media (max-width: 425px) {
  .portada-home .logo {
    max-width: 100px;
    margin: 0 auto 10px auto;
  }
}
.portada-home .logo img {
  max-width: 100%;
}
.portada-home #login {
  max-width: 400px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 425px) {
  .portada-home #login {
    font-size: 0.78125rem;
    padding: 0 40px;
  }
  .portada-home #login p {
    margin-bottom: 5px;
  }
}
.portada-home #login img {
  display: inline-block;
}
.portada-home #login .form-login {
  padding: 25px 45px 40px 45px;
  max-width: 540px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  background: #f8f8f8;
}
@media (max-width: 425px) {
  .portada-home #login .form-login {
    padding: 25px 20px;
    width: 280px !important;
  }
}
.portada-home #login .form-login .tex {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 13px;
}
@media (max-width: 425px) {
  .portada-home #login .form-login .tex {
    font-size: 0.891875rem;
  }
}
.portada-home #login .form-login .grupo-label {
  margin-bottom: 14px;
}
@media (max-width: 425px) {
  .portada-home #login .form-login .grupo-label {
    margin-bottom: 11px;
  }
}
.portada-home #login label {
  font-size: 0.825rem;
  display: block;
  text-align: left;
  margin-bottom: 7px;
  padding: 0 4px;
}
.portada-home #login .camp {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 9px 12px;
  width: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}
@media (max-width: 425px) {
  .portada-home #login .camp {
    padding: 5px 12px;
    width: 100%;
  }
}
.portada-home #login .boton-1 {
  min-width: 145px;
}
.portada-home .error {
  color: #d35757;
  font-size: 0.75rem;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  background: #f2d9d9;
  border: 1px solid #e3c1c1;
  font-weight: 600;
  line-height: 1;
}
