html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
a img {
  border: none;
}

/* line 68 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 73 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 77 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */
audio:not([controls]),
[hidden] {
  display: none;
}

/* line 8 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */

/* line 12 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli.eot");
  src: url("../fonts/Muli.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli.woff") format("woff"), url("../fonts/Muli.ttf") format("truetype"), url("../fonts/Muli.svg#Muli") format("svg");
  font-weight: normal;
  font-style: 400;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Muli";
    src: url(font-url('Muli.svg#family')) format("svg");
  }
}

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Light.eot");
  src: url("../fonts/Muli-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Light.woff") format("woff"), url("../fonts/Muli-Light.ttf") format("truetype"), url("../fonts/Muli-Light.svg#Muli") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Muli";
    src: url(font-url('Muli-Light.svg#family')) format("svg");
  }
}

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Bariol";
  src: url("../fonts/Bariol-Light.eot");
  src: url("../fonts/Bariol-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Light.woff") format("woff"), url("../fonts/Bariol-Light.ttf") format("truetype"), url("../fonts/Bariol-Light.svg#Bariol") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Bariol";
    src: url(font-url('Bariol-Light.svg#family')) format("svg");
  }
}

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Bariol";
  src: url("../fonts/Bariol-Regular.eot");
  src: url("../fonts/Bariol-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Regular.woff") format("woff"), url("../fonts/Bariol-Regular.ttf") format("truetype"), url("../fonts/Bariol-Regular.svg#Bariol") format("svg");
  font-weight: normal;
  font-style: 400;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Bariol";
    src: url(font-url('Bariol-Regular.svg#family')) format("svg");
  }
}

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Bariol";
  src: url("../fonts/BariolRegular-Italic.eot");
  src: url("../fonts/BariolRegular-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/BariolRegular-Italic.woff") format("woff"), url("../fonts/BariolRegular-Italic.ttf") format("truetype"), url("../fonts/BariolRegular-Italic.svg#Bariol") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Bariol";
    src: url(font-url('BariolRegular-Italic.svg#family')) format("svg");
  }
}

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Bariol";
  src: url("../fonts/Bariol-Bold.eot");
  src: url("../fonts/Bariol-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Bold.woff") format("woff"), url("../fonts/Bariol-Bold.ttf") format("truetype"), url("../fonts/Bariol-Bold.svg#Bariol") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Bariol";
    src: url(font-url('Bariol-Bold.svg#family')) format("svg");
  }
}

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@font-face {
  font-family: "Atkicon";
  src: url("../fonts/iconos-atk.eot");
  src: url("../fonts/iconos-atk.eot?#iefix") format("embedded-opentype"), url("../fonts/iconos-atk.woff") format("woff"), url("../fonts/iconos-atk.ttf") format("truetype"), url("../fonts/iconos-atk.svg#Atkicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 38 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Atkicon";
    src: url(font-url('iconos-atk.svg#family')) format("svg");
  }
}

/* line 26 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
body {
  margin: 0;
  padding: 0;
  font-family: "Muli";
  color: #5f5f5f;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  overflow-x: hidden;
  font-weight: 400;
  background: #f8f9f9;
}

/* line 37 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
body p {
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {

  body p {
    font-size: 0.8125rem;
  }
}

/* line 42 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
body a {
  text-decoration: none;
}

/* line 45 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
img {
  max-width: 100%;
}

/* line 48 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.cl {
  clear: both;
  height: 1px;
}

/* line 52 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.contenedor {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
h2,
h3,
h4 {
  font-family: 'Bariol';
}

/* line 62 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
h2 {
  font-size: 1.8125rem;
  color: #fd8e00;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 69 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-rs-in:before {
  content: "\e900";
}

/* line 72 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-rs-ins:before {
  content: "\e901";
}

/* line 75 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-rs-tw:before {
  content: "\e902";
}

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-telefonos:before {
  content: "\e903";
}

/* line 81 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-direccion:before {
  content: "\e904";
}

/* line 84 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-email:before {
  content: "\e905";
}

/* line 87 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.icon-rs-fb:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}

/* line 91 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.ico-web {
  font-family: 'Atkicon';
}

/* line 94 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.section {
  padding: 45px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 98 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.encabezado-titulo {
  margin: 0 0 30px 0;
}

/* line 100 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.encabezado-titulo p {
  font-size: 1rem;
}

/* line 106 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.encabezado {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 9999999;
}


.idioma{
  position: fixed;
  top: 26px;
  right: 80px;
}

.idioma a{ display: inline-block; border: 1px solid #fff; border-radius: 15px; color: #fff; padding: 5px 8px; font-size: 13px; border-width: 1px;
  height: 27px; box-sizing: border-box;  position: relative; transition:  all .4s}
.idioma a:after{ content: ''; position:  absolute; top: -1px; left: -0.6px; width: 100%;
height: 25px; border: 1px solid #fff; border-radius: 15px; z-index: -1: border-width: 1px 0 1px 0; transition:  all .4s}
.idioma a:before{ content: ''; position:  absolute; top: -1px; left: -1px; width: 100%;
height: 25px; border: 1px solid #fff; border-radius: 15px; z-index: 1; border-width:  0 1px 0 1px;  }
.idioma .contact{ margin-left:  5px; }

/* line 111 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.logo {
  margin-bottom: 35px;
}

/* line 115 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu {
  color: #fff;
}

/* line 117 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control {
  position: fixed;
  top: 27px;
  right: 28px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .control {
    position: absolute;
    top: 14px;
    right: 5px;
  }
}

/* line 121 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon {
  cursor: pointer;
  display: inline-block;
  width: 33px;
  height: 50px;
  float: left;
}

/* line 128 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon span {
  margin-top: 9px;
}

/* line 130 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon span:before {
  top: -9px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .control .icon span:before {
    top: -7px;
  }
}

/* line 134 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon span:after {
  bottom: -9px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .control .icon span:after {
    bottom: -7px;
  }
}

/* line 140 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon span,
.menu .control .icon span:before,
.menu .control .icon span:after {
  cursor: pointer;
  border-radius: 3px;
  height: 4px;
  width: 33px;
  background: #fd8e00;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
  -moz-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
  -o-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
  -ms-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
  transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .control .icon span,
  .menu .control .icon span:before,
  .menu .control .icon span:after {
    width: 25px;
    height: 3px;
  }
}

/* line 155 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */

/* line 156 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon.active span {
  background-color: transparent;
  -webkit-transform: rotate(180deg) scale(1.2);
  -moz-transform: rotate(180deg) scale(1.2);
  -o-transform: rotate(180deg) scale(1.2);
  -ms-transform: rotate(180deg) scale(1.2);
  transform: rotate(180deg) scale(1.2);
}

/* line 159 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon.active span:before,
.menu .control .icon.active span:after {
  top: 0;
  background: #5f5f5f;
}

/* line 163 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon.active span:before {
  -webkit-transform: rotate(135deg) scale(1.2);
  -moz-transform: rotate(135deg) scale(1.2);
  -o-transform: rotate(135deg) scale(1.2);
  -ms-transform: rotate(135deg) scale(1.2);
  transform: rotate(135deg) scale(1.2);
}

/* line 166 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .control .icon.active span:after {
  -webkit-transform: rotate(-135deg) scale(1.2);
  -moz-transform: rotate(-135deg) scale(1.2);
  -o-transform: rotate(-135deg) scale(1.2);
  -ms-transform: rotate(-135deg) scale(1.2);
  transform: rotate(-135deg) scale(1.2);
}

/* line 169 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .check {
  display: none;
}

/* line 172 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista {
  position: fixed;
  padding: 1rem 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: rgba(33,33,33,0.98);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -ms-transition: all 400ms;
  transition: all 400ms;
}

/* line 185 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista.menu-abrir {
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
  opacity: 1 !important;
  -ms-filter: none !important;
  filter: none !important;
  position: fixed;
}

/* line 191 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista {
    display: block;
    padding: 0 30px;
    overflow-y: scroll;
  }
}

/* line 202 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .logo-atk-menu {
  margin-top: 90px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .logo-atk-menu {
    text-align: center;
    width: 100px;
    margin: 20px auto 35px auto;
  }
}

/* line 209 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .nav-lista {
  margin: 70px 0;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .nav-lista {
    margin: 10px 0 0 0;
  }
}

/* line 213 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .nav-lista li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 17px;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .nav-lista li {
    display: block;
    margin: 15px 0;
  }
}

/* line 221 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .nav-lista li a {
  color: #fff;
  display: block;
  font-weight: 300;
  font-size: 1.4375rem;
  line-height: normal;
  padding: 6px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .nav-lista li a {
    font-size: 1.125rem;
  }
}

/* line 232 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .nav-lista li a:after {
  content: '';
  display: block;
  width: 100%;
  background: #fd8e00;
  height: 0;
  position: absolute;
  bottom: -10px;
  -webkit-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.6s;
  -moz-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.6s;
  -o-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.6s;
  -ms-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.6s;
  transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.6s;
}

/* line 240 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .nav-lista li a:hover {
    color: #fd8e00;
    font-weight: 600;
  }
}

/* line 244 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .nav-lista li a:hover:after {
  position: absolute;
  bottom: 0;
  height: 3px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .nav-lista li a:hover:after {
    height: 0;
  }
}

/* line 252 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .contacto {
    padding-bottom: 40px;
  }
}

/* line 255 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .contacto .redes-sociales {
  margin-top: 55px;
  font-size: 1.375rem;
  margin-bottom: 23px;
  height: 26px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .contacto .redes-sociales {
    margin-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    padding: 10px 0 12px 0;
  }
}

/* line 266 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .contacto .redes-sociales a {
  color: #fff;
  font-family: "Atkicon";
  display: inline-block;
  vertical-align: middle;
  width: 31px;
/*.icon-rs-fb:hover
		color orange1 //facebook
		
	.icon-rs-tw:hover
		color #15caeb //twitter
		
	.icon-rs-in:hover
		color #3359a5 //twitter
		
	.icon-rs-ins:hover
		color #0c44b5 //instagram**/
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .contacto .redes-sociales a {
    width: 29px;
  }
}

/* line 277 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .contacto .redes-sociales a span {
  -webkit-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  -moz-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  -o-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  -ms-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
}

/* line 279 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .contacto .redes-sociales a span:hover {
  color: #fd8e00;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  font-size: 1.625rem;
}

/* line 295 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.menu .lista .contiene-lista .contacto li {
  display: block;
  font-size: 0.9375rem;
  margin: 8px 0;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .menu .lista .contiene-lista .contacto li {
    font-size: 0.8125rem;
    font-weight: 300;
    color: #f2f2f2;
  }
}

/* line 305 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.head-tit {
  text-align: center;
  margin: 40px 0 20px 0;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .head-tit {
    margin: 35px 0 20px 0;
  }
}

/* line 310 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.head-tit h2 {
  margin-top: 45px;
  font-size: 1.96875rem;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .head-tit h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 20px;
  }
}

/* line 317 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.head-tit h3 {
  color: #fd8e00;
  font-size: 1.3125rem;
  text-transform: uppercase;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .head-tit h3 {
    font-size: 0.90625rem;
  }
}

/* line 325 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.head-tit p {
  max-width: 700px;
  margin: 10px auto;
}

/* line 328 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .head-tit img {
    width: 105px;
  }
}

/* line 333 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario {
  background: #fff;
  text-align: center;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

/* line 340 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario h3 {
  color: #5f5f5f;
  font-size: 1.378125rem;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #formulario h3 {
    font-size: 1.128125rem;
  }
}

/* line 346 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario .form-foot {
  z-index: 4;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 0;
}
#formulario .form-foot .btn1.btn2{ cursor: pointer; }
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #formulario .form-foot {
    padding: 60px 20px;
  }
}

/* line 355 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario .columnas {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0 20px 0;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #formulario .columnas {
    display: block;
  }
}

/* line 362 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario .columnas .colum-1 {
  padding: 0 10px;
  box-sizing: border-box;
  width: 40%;
}
#formulario .columnas .colum-2 {
  padding: 0 10px;
  box-sizing: border-box;
  width: 60%;
}

/* line 364 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario .columnas .campo {
  width: 220px;
  display: block;
  font-family: "Muli";
  border: none;
  padding: 8px 12px;
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 10px;
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  #formulario .columnas .colum-1, #formulario .columnas .colum-2{
    width: 100%
  }


  #formulario .columnas .campo {
    width: 90%;
    font-size: 0.75rem;
    padding: 14px 12px;
    margin-bottom: 13px;
  }
}

/* line 378 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario .columnas .campo.textarea {
  width: 360px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #formulario .columnas .campo.textarea {
    width: 100%;
  }
}

/* line 382 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#formulario .columnas .enviar {
  cursor: pointer;
}

/* line 386 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#footer {
  background: #fd8e00;
  color: #fff;
  padding: 12px 0;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #footer {
    padding: 7px 0;
  }
}

/* line 392 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */

/* line 393 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#footer .contenedor:after {
  content: '';
  display: block;
  clear: both;
}

/* line 397 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#footer .copy {
  float: left;
  font-size: 0.915625rem;
  padding-top: 3px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #footer .copy {
    font-size: 0.790625rem;
  }
}

/* line 403 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#footer .social {
  float: right;
  font-family: "Atkicon";
}

/* line 406 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#footer .social a {
  color: #fff;
  font-size: 1.25rem;
  margin-left: 4px;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #footer .social a {
    font-size: 0.875rem;
  }
}

/* line 413 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1 {
  background: #fff;
  border: none;
  border-radius: 40px;
  padding: 12px 35px;
  color: #e09523;
  display: inline-block;
  font-size: 1.1875rem;
  max-width: 350px;
  font-weight: 600;
  margin: 40px auto 0 auto;
  font-family: "Bariol";
  outline: none;
  -webkit-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  -moz-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  -o-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  -ms-transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
  transition: all cubic-bezier(0.32, -0.6, 0.68, 1.6) 0.3s;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .btn1 {
    font-size: 1rem;
  }
}

/* line 429 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 433 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1 .sig {
  position: relative;
  top: -1px;
  margin-left: 5px;
}

/* line 437 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1.btn2 {
  background: #fd8e00;
  color: #fff;
  margin: 0;
  padding: 9px 60px;
}

/* line 442 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1.btn2 .sig {
  position: relative;
  top: -1px;
  margin-left: 5px;
}

/* line 446 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1.btn3 {
  background: #fd8e00;
  color: #fff;
  margin: 0;
  padding: 9px 30px;
  font-size: 0.9375rem;
}

/* line 452 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.btn1.btn3 .sig {
  position: relative;
  top: -1px;
  margin-left: 5px;
}

/* line 457 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-app {
  background: #78a8ce;
}

/* line 459 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-plan {
  background: #c7c67b;
}

/* line 461 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-desarrollo {
  background: #e6aa5d;
}

/* line 463 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-creativ {
  background: #98d3b5;
}

/* line 465 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-redsoc {
  background: #c77e7e;
}

/* line 467 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-analitic {
  background: #7e8fa0;
}

/* line 469 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.c-beacons {
  background: #9c9ec7;
}

/* line 472 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
.lista-li1 {
  margin: 20px 0;
  padding: 0;
  display: block;
}

.lista-li1 li {
  background: url("../img/icons/li-01.png") 0 3px no-repeat;
  padding: 0 0 0 15px;
  min-height: 20px;
  display: block;
  float: none;
}

.lista-li2 {
  margin: 10px 0;
  padding: 0;
  display: block;
}

.lista-li2 li {
  background: url("../img/icons/li-02.png") 0 5px no-repeat;
  padding: 0 0 0 15px;
  min-height: 20px;
  margin: 10px 0;
  display: block;
  float: none;
}

/* line 590 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* line 593 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
}

/* line 601 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #24221f;
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes flotar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes flotar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes flotar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes flotar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 495 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes desplazar1 {

/* line 496 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

/* line 498 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  30% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 500 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  65% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 502 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}



@keyframes up-mover {


  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }


  10% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  20% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-moz-keyframes elevar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes elevar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes elevar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes elevar {

/* line 488 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }

/* line 490 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 492 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

/* line 495 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes desplazar1 {

/* line 496 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

/* line 498 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  30% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 500 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  65% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 502 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 495 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes desplazar1 {

/* line 496 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

/* line 498 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  30% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 500 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  65% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 502 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 495 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes desplazar1 {

/* line 496 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

/* line 498 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  30% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 500 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  65% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 502 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 495 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes desplazar1 {

/* line 496 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

/* line 498 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  30% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 500 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  65% {
    -webkit-transform: translate(-30px, -25px);
    -moz-transform: translate(-30px, -25px);
    -o-transform: translate(-30px, -25px);
    -ms-transform: translate(-30px, -25px);
    transform: translate(-30px, -25px);
  }

/* line 502 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 505 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes opacity1 {

/* line 506 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 508 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  40% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 510 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 505 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes opacity1 {

/* line 506 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 508 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  40% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 510 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 505 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes opacity1 {

/* line 506 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 508 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  40% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 510 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 505 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes opacity1 {

/* line 506 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 508 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  40% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 510 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 513 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes desplazar-izq {

/* line 514 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(40px, 0);
    -moz-transform: translate(40px, 0);
    -o-transform: translate(40px, 0);
    -ms-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }

/* line 517 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-12px, 0);
    -moz-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
  }
}

/* line 513 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes desplazar-izq {

/* line 514 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(40px, 0);
    -moz-transform: translate(40px, 0);
    -o-transform: translate(40px, 0);
    -ms-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }

/* line 517 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-12px, 0);
    -moz-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
  }
}

/* line 513 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes desplazar-izq {

/* line 514 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(40px, 0);
    -moz-transform: translate(40px, 0);
    -o-transform: translate(40px, 0);
    -ms-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }

/* line 517 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-12px, 0);
    -moz-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
  }
}

/* line 513 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes desplazar-izq {

/* line 514 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(40px, 0);
    -moz-transform: translate(40px, 0);
    -o-transform: translate(40px, 0);
    -ms-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }

/* line 517 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-12px, 0);
    -moz-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
  }
}

/* line 519 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes desplazar-der {

/* line 520 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-38px, 0);
    -moz-transform: translate(-38px, 0);
    -o-transform: translate(-38px, 0);
    -ms-transform: translate(-38px, 0);
    transform: translate(-38px, 0);
  }

/* line 523 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(12px, 0);
    -moz-transform: translate(12px, 0);
    -o-transform: translate(12px, 0);
    -ms-transform: translate(12px, 0);
    transform: translate(12px, 0);
  }
}

/* line 519 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes desplazar-der {

/* line 520 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-38px, 0);
    -moz-transform: translate(-38px, 0);
    -o-transform: translate(-38px, 0);
    -ms-transform: translate(-38px, 0);
    transform: translate(-38px, 0);
  }

/* line 523 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(12px, 0);
    -moz-transform: translate(12px, 0);
    -o-transform: translate(12px, 0);
    -ms-transform: translate(12px, 0);
    transform: translate(12px, 0);
  }
}

/* line 519 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes desplazar-der {

/* line 520 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-38px, 0);
    -moz-transform: translate(-38px, 0);
    -o-transform: translate(-38px, 0);
    -ms-transform: translate(-38px, 0);
    transform: translate(-38px, 0);
  }

/* line 523 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(12px, 0);
    -moz-transform: translate(12px, 0);
    -o-transform: translate(12px, 0);
    -ms-transform: translate(12px, 0);
    transform: translate(12px, 0);
  }
}

/* line 519 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes desplazar-der {

/* line 520 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-38px, 0);
    -moz-transform: translate(-38px, 0);
    -o-transform: translate(-38px, 0);
    -ms-transform: translate(-38px, 0);
    transform: translate(-38px, 0);
  }

/* line 523 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(12px, 0);
    -moz-transform: translate(12px, 0);
    -o-transform: translate(12px, 0);
    -ms-transform: translate(12px, 0);
    transform: translate(12px, 0);
  }
}

@-moz-keyframes slide-min {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
@-webkit-keyframes slide-min {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
@-o-keyframes slide-min {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
@keyframes slide-min {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}



 

/* line 544 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes flotar-giro1 {

/* line 545 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

/* line 548 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

/* line 551 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-3px, -6px);
    -moz-transform: translate(-3px, -6px);
    -o-transform: translate(-3px, -6px);
    -ms-transform: translate(-3px, -6px);
    transform: translate(-3px, -6px);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

/* line 554 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* line 544 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes flotar-giro1 {

/* line 545 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

/* line 548 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

/* line 551 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-3px, -6px);
    -moz-transform: translate(-3px, -6px);
    -o-transform: translate(-3px, -6px);
    -ms-transform: translate(-3px, -6px);
    transform: translate(-3px, -6px);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

/* line 554 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* line 544 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes flotar-giro1 {

/* line 545 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

/* line 548 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

/* line 551 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-3px, -6px);
    -moz-transform: translate(-3px, -6px);
    -o-transform: translate(-3px, -6px);
    -ms-transform: translate(-3px, -6px);
    transform: translate(-3px, -6px);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

/* line 554 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* line 544 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes flotar-giro1 {

/* line 545 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

/* line 548 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

/* line 551 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-3px, -6px);
    -moz-transform: translate(-3px, -6px);
    -o-transform: translate(-3px, -6px);
    -ms-transform: translate(-3px, -6px);
    transform: translate(-3px, -6px);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

/* line 554 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(5px, -2px);
    -moz-transform: translate(5px, -2px);
    -o-transform: translate(5px, -2px);
    -ms-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

/* line 558 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes flotar-giro2 {

/* line 559 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

/* line 567 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-2px, -8px);
    -moz-transform: translate(-2px, -8px);
    -o-transform: translate(-2px, -8px);
    -ms-transform: translate(-2px, -8px);
    transform: translate(-2px, -8px);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

/* line 571 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

/* line 558 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes flotar-giro2 {

/* line 559 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

/* line 567 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-2px, -8px);
    -moz-transform: translate(-2px, -8px);
    -o-transform: translate(-2px, -8px);
    -ms-transform: translate(-2px, -8px);
    transform: translate(-2px, -8px);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

/* line 571 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

/* line 558 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes flotar-giro2 {

/* line 559 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

/* line 567 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-2px, -8px);
    -moz-transform: translate(-2px, -8px);
    -o-transform: translate(-2px, -8px);
    -ms-transform: translate(-2px, -8px);
    transform: translate(-2px, -8px);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

/* line 571 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

/* line 558 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes flotar-giro2 {

/* line 559 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

/* line 567 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    -webkit-transform: translate(-2px, -8px);
    -moz-transform: translate(-2px, -8px);
    -o-transform: translate(-2px, -8px);
    -ms-transform: translate(-2px, -8px);
    transform: translate(-2px, -8px);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

/* line 571 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: translate(-5px, -2px);
    -moz-transform: translate(-5px, -2px);
    -o-transform: translate(-5px, -2px);
    -ms-transform: translate(-5px, -2px);
    transform: translate(-5px, -2px);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes resplandece1 {

/* line 576 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }

/* line 578 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }

/* line 580 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }
}

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes resplandece1 {

/* line 576 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }

/* line 578 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }

/* line 580 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }
}

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes resplandece1 {

/* line 576 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }

/* line 578 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }

/* line 580 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }
}

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes resplandece1 {

/* line 576 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }

/* line 578 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  50% {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }

/* line 580 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
  }
}

/* line 583 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-moz-keyframes rotar-elem {

/* line 584 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 586 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 583 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-webkit-keyframes rotar-elem {

/* line 584 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 586 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 583 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@-o-keyframes rotar-elem {

/* line 584 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 586 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 583 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
@keyframes rotar-elem {

/* line 584 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 586 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\general.styl */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes inclinar-elem {

  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  30% {
      -webkit-transform: translate(0, -28px);
    -moz-transform: translate(0, -28px);
    -o-transform: translate(0, -28px);
    -ms-transform: translate(0, -28px);
    transform: translate(0, -28px);

  
  }
  60% {
      -webkit-transform: translate(0, -28px);
    -moz-transform: translate(0, -28px);
    -o-transform: translate(0, -28px);
    -ms-transform: translate(0, -28px);
    transform: translate(0, -28px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes aparecer{

  0% {
    -webkit-transform: translate(50px, 180px)  scale(0.2)  translate(-50px, -180px) ;
    -moz-transform: translate(50px, 180px)  scale(0.2)  translate(-50px, -180px) ; 
    -o-transform: translate(50px, 180px)  scale(0.2)  translate(-50px, -180px) ;
    -ms-transform: translate(50px, 180px)  scale(0.2)  translate(-50px, -180px) ;
    transform: translate(50px, 180px)  scale(0.2)  translate(-50px, -180px) ;
    opacity: 0;
  }
 
  100% {
    -webkit-transform: scale(1) translate(0, 0) ;
    -moz-transform: scale(1) translate(0, 0) ;
    -o-transform: scale(1) translate(0, 0) ;
    -ms-transform:  scale(1) translate(0, 0) ;
    transform: scale(1) translate(0, 0) ;
    opacity: 1;
  }
}
@keyframes aparecer2{

  0% {
    -webkit-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
    -moz-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
    -o-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
    -ms-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
    transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
    opacity: 0;
  }
 
  100% {
    -webkit-transform: scale(1) translate(0, 0) ;
    -moz-transform: scale(1) translate(0, 0) ;
    -o-transform: scale(1) translate(0, 0) ;
    -ms-transform:  scale(1) translate(0, 0) ;
    transform: scale(1) translate(0, 0) ;
    opacity: 1;
  }
}
@keyframes agrandar-bocina{
  0%{
      transform:  scale(1) translate(0, 0);
  }
  20%{
      transform:  scale(1) translate(0, 0);
  }
  30%{
    transform:  scale(1.07) translate(-8px, -8px);
  }
  40%{
    transform:  scale(1) translate(0, 0);
  }
  50%{
    transform:  scale(1.07) translate(-8px, -8px);
  }
  60%{
    transform:  scale(1) translate(0, 0);
  }
  60%{
    
     transform:  scale(1) translate(0, 0);
  }
  80%{
    
     transform:  scale(1) translate(0, 0);
  }
  
  100%{
    transform:  scale(1) translate(0, 0);
  }

}