body, html {
  /*margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  background: #f00;*/
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}
.outer{
   display: table;
  width: 100%;
  height: 100%;
}
.inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered{
  position: relative;
  display: inline-block;
  width: 100%;
}
.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

.onepage-pagination li a:before{
  background: white;
}

.onepage-pagination li a.active:before{
  border-color: white;
}


.menu {
  color: #fff;
}


#preload{
  background: #efefef;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 99999999999999999999999!important;
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.preload-out{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

#line-time {
  position: fixed !important;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 99;
  height: 100vh;
  top: 0;
  right: 0;
  background: #fff;
  width: 23px;
}
#line-time a{
  display: block;
  position: relative;
  z-index: 1;
   cursor: pointer;
  text-decoration: none;
  font-size:  0;
}
#line-time a .small{
    display: block;
    border-radius: 50%;
    z-index: 1;
    background:  #f00;
    height: 8px;
    width: 8px;
    border: 0;
    
    margin: 10px 8px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#line-time li:nth-child(1) .small {
  background: #78a8ce;
}
#line-time li:nth-child(2) .small {
  background: #c7c67b;
}
#line-time li:nth-child(3) .small {
  background: #e6aa5d;
}
#line-time li:nth-child(4) .small {
  background: #aad2b4;
}
#line-time li:nth-child(5) .small {
  background: #c77e7e;
}
#line-time li:nth-child(6) .small {
  background: #7e8fa0;
}
#line-time li:nth-child(7) .small {
  background: #9c9ec7;
}
#line-time li:nth-child(8) .small {
  opacity: 0;
}

#line-time .pop.activo .small{
  display none;
}
#line-time li a.activo:after{
  position:  absolute;
  top: 0;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  /*border-left: 7px solid #fd8e00;*/
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
  top: -3px;
  left: 0; 
}
/*#line-time li:nth-child(1) a.activo:after{*/
  /*border-left: 7px solid #78a8ce;*/
/*}*/
/*#line-time li:nth-child(2) a.activo:after{*/
  /*border-left: 7px solid #c7c67b;*/
/*}*/
/*#line-time li:nth-child(3) a.activo:after{*/
  /*border-left: 7px solid #e6aa5d;*/
/*}*/
/*#line-time li:nth-child(4) a.activo:after{*/
  /*border-left: 7px solid #aad2b4;*/
/*}*/
/*#line-time li:nth-child(5) a.activo:after{*/
  /*border-left: 7px solid #c77e7e;*/
/*}*/
/*#line-time li:nth-child(6) a.activo:after{*/
  /*border-left: 7px solid #7e8fa0;*/
/*}*/
/*#line-time li:nth-child(7) a.activo:after{*/
  /*border-left: 7px solid #9c9ec7;*/
/*}*/

@media only screen and (max-width: 768px) {
  #line-time {
  position: fixed !important;
  display: block;
  top: auto;
  z-index: 99;
  height: 28px;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%
  }
  #line-time ul{ text-align: center; }
  #line-time li, #line-time li a{ display: inline-block; }
  #line-time li a.activo:after{
  position:  absolute;
  top: 0;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid #fd8e00;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  transform: rotate(90deg);
  display: block;
  top: -9px;
  left: 8px; 
  }
} 
  
 
/* line 8 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */

/* line 11 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */

/* line 12 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.menu .control .icon span,
.menu .control .icon span:before,
.menu .control .icon span:after {
  background: #fff;
}

/* line 16 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.orange1a {
  background: #fd8e00 !important;
}

/* line 19 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  left: 45%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  
}
.efecto-logo{
  animation: mover-y-logo 1s;
   -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .logo {
    width: 105px;
  }
}

/* line 27 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider {
  height: 100vh;
  min-height: 572px;
  max-height: 1400px;
  position: relative;
  z-index: 999;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider {
    min-height: 100px;
  }
}

.bg-slide{ display: block; }
.bg-slide-resp{
  display:  none;
}
@media only screen and (max-width: 768px) {
  .bg-slide{ display: none; }
  .bg-slide-resp{
    display:  block;
}
  }

/* line 37 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .down {
  background: url("../img/icons/arrow_1a.png") no-repeat;
  width: 27px;
  height: 18px;
  display: block;
  position: absolute;
  bottom: 17px;
  right: 50%;
  margin-right: -13px;
}

/* line 47 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-background {
  height: 100vh;
}

/* line 52 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img {
  position: absolute;
  max-width: 961px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 20px;
/*+hasta( escritorio )
			absolute top 0 left 0 right 0 bottom 0
			margin auto*/
}

/* line 65 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slick-list {
  overflow: visible;
}

/* line 67 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item {
  position: relative;
  text-align: center;
}
#slider .slider-img .slider-item .img-slid {
  display: block;
  overflow: hidden;
}
#slider .slider-img .slider-item .img-slid img{

}
/* line 69 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@media only screen and (max-width: 768px) {

/* line 72 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  #slider .slider-img .slider-item .img-slid img {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 100% !important;
    height: 0;
  }
}

/* line 77 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item figcaption {
  background: rgba(253,142,0,0.87);
  color: #fff;
  text-align: center;
  /*width: 320px;*/

  margin: 0 auto;
  /*position: absolute;
  right: 0;
  left: 0;*/
  display:  inline-block;
  position:  relative;
  margin-top: -45px;
  opacity: 0;

  
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .slider-img .slider-item figcaption {
    background: rgba(253,142,0,0.67);
  }
}

/* line 90 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item figcaption .capa1 {
  background: rgba(253,142,0,0.6);
  padding: 13px 20px;
  min-width: 320px;

}

/* line 93 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item figcaption h3 {
  font-size: 1.603125rem;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0,0,0,0.2);
  font-family: 'Bariol';
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* line 100 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item figcaption .subtitle {
  font-size: 1.040625rem;
  font-weight: 400;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-bottom: 3px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* line 107 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item figcaption .subtitle:after,
#slider .slider-img .slider-item figcaption .subtitle:before {
  content: '';
  background: url("../img/icons/h2-linea.png") no-repeat;
  width: 40px;
  height: 8px;
  margin: 0 5px;
  display: inline-block;
}

/* line 115 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slider-item figcaption p {
  font-size: 0.8375rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* line 119 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 123 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */

/* line 124 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 5px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  color: transparent;
}

/* line 141 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */

/* line 142 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#slider .slider-img .slick-dots li.slick-active button {
  background-color: #fd8e00;
  border: 7px solid #fd8e00;
  position: relative;
  top: -2px;
}

/* line 150 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.app {
  background: #78a8ce;
}

/* line 152 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.app .btn1 {
  color: #78a8ce;
}

/* line 155 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.plan {
  background: #c7c67b;
}

/* line 157 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.plan .btn1 {
  color: #c7c67b;
}

/* line 159 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.desarrollo {
  background: #e6aa5d;
}

/* line 161 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.desarrollo .btn1 {
  color: #e6aa5d;
}

/* line 163 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.creativ {
  background: #98d3b5;
}

/* line 165 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.creativ .btn1 {
  color: #aad2b4;
}

/* line 167 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.redsoc {
  background: #c77e7e;
}

/* line 169 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.redsoc .btn1 {
  color: #c77e7e;
}

/* line 171 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.analitic {
  background: #7e8fa0;
}

/* line 173 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.analitic .btn1 {
  color: #7e8fa0;
}

/* line 175 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.beacons {
  background: #9c9ec7;
}

/* line 177 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.beacons .btn1 {
  color: #9c9ec7;
}

/* line 181 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#servicios-e-iconos{
  position:  relative;
  overflow: hidden;
}
.preload-servicio {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999  !important;
  width: 100%;
  height: 100vh;
  background: #fd8e00;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  transition:  all .8s
  
}
.height-h{
  opacity: 0!important;
  height: 0!important;
}

.preload-servicio h2 {
  color: #fff;
  font-weight: 400;
  font-size: 2.75rem;
}
.preload-servicio h3 {
  color: #fff;
  font-size: 1.53125rem;
  font-weight: 300;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .preload-servicio svg {
    width: 250px;
    height: auto;
  }
  .preload-servicio h2 {
    font-size: 1.7rem;
  }

  .preload-servicio h3 {
    font-size: 1.11875rem;
  }
}
.preload-servicio .movimiento-z{
  -webkit-animation: mover-z infinite;
  -moz-animation: mover-z infinite;
  -o-animation: mover-z infinite;
  -ms-animation: mover-z infinite;
  animation: mover-z infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 8s, 8s, 8s, 8s, 8s;
  -moz-animation-duration: 8s, 8s, 8s, 8s, 8s;
  -o-animation-duration: 8s, 8s, 8s, 8s, 8s;
  -ms-animation-duration: 8s, 8s, 8s, 8s, 8s;
  animation-duration: 8s, 8s, 8s, 8s, 8s;
}
.preload-servicio .movimiento-y{
  -webkit-animation: mover-y infinite;
  -moz-animation: mover-y infinite;
  -o-animation: mover-y infinite;
  -ms-animation: mover-y infinite;
  animation: mover-y infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 6s, 6s, 6s, 6s, 6s;
  -moz-animation-duration: 6s, 6s, 6s, 6s, 6s;
  -o-animation-duration: 6s, 6s, 6s, 6s, 6s;
  -ms-animation-duration: 6s, 6s, 6s, 6s, 6s;
  animation-duration: 6s, 6s, 6s, 6s, 6s;
}

/* line 194 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.preload-servicio .down-raton {
  margin-top: 38px;
}

/* line 197 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.soluciones-item {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
  
/* line 206 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.soluciones-item .vector {
/*margin-bottom 14px
		margin-top 25px
		position relative*/
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .soluciones-item .vector {
    position: static;
  }
}

/* line 223 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.soluciones-item h2 {
  color: #fff;
  font-weight: 400;
  font-size: 2.75rem;
}
@media only screen and (max-width: 768px) {

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  .soluciones-item h2 {
    font-size: 1.7rem;
    padding: 0 15px;
  }
}

/* line 229 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.soluciones-item h3 {
  color: #fff;
  font-size: 1.53125rem;
  font-weight: 300;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {

  .soluciones-item svg{
    width: 200px;
    height: auto;
  }
  .soluciones-item h3 {
    font-size: 1.11875rem;
    padding: 0 15px;
  }
}

/* line 240 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#apps {
  position: relative;
/*position: absolute;
	transform-origin: left center;
	transform: translate3d(0,0,.7px) scale(.2);
	top: 45%;
	left: 35%;*/
}

#apps .cuadro-app{
  -webkit-animation: elevar 2s infinite;
  -moz-animation: elevar 2s infinite;
  -o-animation: elevar 2s infinite;
  -ms-animation: elevar 2s infinite;
  animation: elevar 2s infinite;
}

/* line 247 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.print-app {
  position: absolute;
  top: 30px;
  left: 49.9%;
  width: 140px;
  height: 230px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9;
  -webkit-animation: slide-min infinite;
  -moz-animation: slide-min infinite;
  -o-animation: slide-min infinite;
  -ms-animation: slide-min infinite;
  animation: slide-min infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 5s, 5s, 5s, 5s, 5s;
  -moz-animation-duration: 5s, 5s, 5s, 5s, 5s;
  -o-animation-duration: 5s, 5s, 5s, 5s, 5s;
  -ms-animation-duration: 5s, 5s, 5s, 5s, 5s;
  animation-duration: 5s, 5s, 5s, 5s, 5s;
}

/* line 258 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */

/* line 259 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.maqui.anima1 .flecha1 {
  -webkit-animation: desplazar1 3s;
  -moz-animation: desplazar1 3s;
  -o-animation: desplazar1 3s;
  -ms-animation: desplazar1 3s;
  animation: desplazar1 3s;
  -webkit-animation-delay: 50ms;
  -moz-animation-delay: 50ms;
  -o-animation-delay: 50ms;
  -ms-animation-delay: 50ms;
  animation-delay: 50ms;
}

/* line 263 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.maqui.anima1 .codigo-html {
  -webkit-animation: opacity1 0.6s;
  -moz-animation: opacity1 0.6s;
  -o-animation: opacity1 0.6s;
  -ms-animation: opacity1 0.6s;
  animation: opacity1 0.6s;
  -webkit-animation-delay: 1050ms;
  -moz-animation-delay: 1050ms;
  -o-animation-delay: 1050ms;
  -ms-animation-delay: 1050ms;
  animation-delay: 1050ms;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 268 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.maqui.anima1 .der-arrow {
  -webkit-animation: desplazar-der 0.6s;
  -moz-animation: desplazar-der 0.6s;
  -o-animation: desplazar-der 0.6s;
  -ms-animation: desplazar-der 0.6s;
  animation: desplazar-der 0.6s;
  -webkit-animation-delay: 950ms;
  -moz-animation-delay: 950ms;
  -o-animation-delay: 950ms;
  -ms-animation-delay: 950ms;
  animation-delay: 950ms;
  -webkit-transform: translate(-40px, 0);
  -moz-transform: translate(-40px, 0);
  -o-transform: translate(-40px, 0);
  -ms-transform: translate(-40px, 0);
  transform: translate(-40px, 0);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 273 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.maqui.anima1 .izq-arrow {
  -webkit-animation: desplazar-izq 0.6s;
  -moz-animation: desplazar-izq 0.6s;
  -o-animation: desplazar-izq 0.6s;
  -ms-animation: desplazar-izq 0.6s;
  animation: desplazar-izq 0.6s;
  -webkit-animation-delay: 950ms;
  -moz-animation-delay: 950ms;
  -o-animation-delay: 950ms;
  -ms-animation-delay: 950ms;
  animation-delay: 950ms;
  -webkit-transform: translate(40px, 0);
  -moz-transform: translate(40px, 0);
  -o-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  transform: translate(40px, 0);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#social-icono .manito-like {
  -webkit-animation: elevar 1.4s infinite;
  -moz-animation: elevar 1.4s infinite;
  -o-animation: elevar 1.4s infinite;
  -ms-animation: elevar 1.4s infinite;
  animation: elevar 1.4s infinite;
}

/* line 236 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#social-icono .corazon {
  -webkit-animation: elevar 2s infinite;
  -moz-animation: elevar 2s infinite;
  -o-animation: elevar 2s infinite;
  -ms-animation: elevar 2s infinite;
  animation: elevar 2s infinite;
}

/* line 238 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#social-icono .camera1 {
  -webkit-animation: elevar 2s infinite;
  -moz-animation: elevar 2s infinite;
  -o-animation: elevar 2s infinite;
  -ms-animation: elevar 2s infinite;
  animation: elevar 2s infinite;
}

/* line 240 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#social-icono .yt {
  -webkit-animation: elevar 2s infinite;
  -moz-animation: elevar 2s infinite;
  -o-animation: elevar 2s infinite;
  -ms-animation: elevar 2s infinite;
  animation: elevar 2s infinite;
}

/* line 242 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#social-icono .twitter {
 -webkit-animation: elevar 1.4s infinite;
  -moz-animation: elevar 1.4s infinite;
  -o-animation: elevar 1.4s infinite;
  -ms-animation: elevar 1.4s infinite;
  animation: elevar 1.4s infinite;
}
}

/* line 291 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#signage {
  -webkit-animation: elevar 0.8s infinite;
  -moz-animation: elevar 0.8s infinite;
  -o-animation: elevar 0.8s infinite;
  -ms-animation: elevar 0.8s infinite;
  animation: elevar 0.8s infinite;
  -webkit-transition: cubic-bezier(.17,.67,.98,.61);
  -moz-transition: cubic-bezier(.17,.67,.98,.61);
  -o-transition: cubic-bezier(.17,.67,.98,.61);
  -ms-transition: cubic-bezier(.17,.67,.98,.61);
  transition:  cubic-bezier(.17,.67,.98,.61);
}

/* line 247 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#signage .resplandor1 {
  -webkit-animation: resplandece1 3s infinite;
  -moz-animation: resplandece1 3s infinite;
  -o-animation: resplandece1 3s infinite;
  -ms-animation: resplandece1 3s infinite;
  animation: resplandece1 3s infinite;
  -webkit-animation-delay: 290ms;
  -moz-animation-delay: 290ms;
  -o-animation-delay: 290ms;
  -ms-animation-delay: 290ms;
  animation-delay: 290ms;
}

/* line 250 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#signage .resplandor2 {
  -webkit-animation: resplandece1 3s infinite;
  -moz-animation: resplandece1 3s infinite;
  -o-animation: resplandece1 3s infinite;
  -ms-animation: resplandece1 3s infinite;
  animation: resplandece1 3s infinite;
  -webkit-animation-delay: 10ms;
  -moz-animation-delay: 10ms;
  -o-animation-delay: 10ms;
  -ms-animation-delay: 10ms;
  animation-delay: 10ms;
}

/* line 253 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\hacemos.styl */
#signage .resplandor3 {
  -webkit-animation: resplandece1 3s infinite;
  -moz-animation: resplandece1 3s infinite;
  -o-animation: resplandece1 3s infinite;
  -ms-animation: resplandece1 3s infinite;
  animation: resplandece1 3s infinite;
  -webkit-animation-delay: 5ms;
  -moz-animation-delay: 5ms;
  -o-animation-delay: 5ms;
  -ms-animation-delay: 5ms;
  animation-delay: 5ms;
}






#plan .anima1 .cnt-grupo-voz{
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 300px;
  height: 600px;
}

#plan .anima1 .grupo-voz{
  position: absolute;
  top:  0;
  left: 0;
  -webkit-animation: inclinar-elem 3s infinite;
  -moz-animation: inclinar-elem 3s infinite;
  -o-animation: inclinar-elem 3s infinite;
  -ms-animation: inclinar-elem 3s infinite;
  animation: inclinar-elem 3s infinite;
  -webkit-animation-delay: 5ms;
  -moz-animation-delay: 5ms;
  -o-animation-delay: 5ms;
  -ms-animation-delay: 5ms;
  animation-delay: 5ms;
}
#plan .anima1 .bocina{
  position: absolute;
  top:  0;
  left: 0;
  -webkit-animation: agrandar-bocina 3s infinite;
  -moz-animation: agrandar-bocina 3s infinite;
  -o-animation: agrandar-bocina 3s infinite;
  -ms-animation: agrandar-bocina 3s infinite;
  animation: agrandar-bocina 3s infinite;
  -webkit-animation-delay: 5ms;
  -moz-animation-delay: 5ms;
  -o-animation-delay: 5ms;
  -ms-animation-delay: 5ms;
  animation-delay: 5ms;
}
#plan .anima1 .crece1{
  -webkit-animation: aparecer 1s cubic-bezier(.6,.01,.17,.97);
  -moz-animation: aparecer 1s cubic-bezier(.6,.01,.17,.97);
  -o-animation: aparecera 1s cubic-bezier(.6,.01,.17,.97);
  -ms-animation: aparecer 1s cubic-bezier(.6,.01,.17,.97);
  animation: aparecer 1s cubic-bezier(.6,.01,.17,.97);
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
   -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(0.2) translate(0, 0);
  -moz-transform: scale(0.2) translate(0, 0);
  -o-transform: scale(0.2) translate(0, 0);
  -ms-transform:  scale(0.2) translate(0, 0);
  opacity: 0;
  transform: translate(50px, 180px)  scale(0.2)  translate(-50px, -180px) ;
}
#plan .anima1 .crece2{
  -webkit-animation: aparecer2 1s cubic-bezier(.6,.01,.17,.97) ;
  -moz-animation: aparecer2 1s cubic-bezier(.6,.01,.17,.97);
  -o-animation: aparecera2 1s cubic-bezier(.6,.01,.17,.97);
  -ms-animation: aparecer2 1s cubic-bezier(.6,.01,.17,.97) ;
  animation: aparecer2 1s cubic-bezier(.6,.01,.17,.97) ;
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  -ms-animation-delay: 1.9s;
  animation-delay: 1.9s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
  -moz-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
  -o-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
  -ms-transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
  opacity: 0;
  transform: translate(280px, 140px) scale(0.2) translate(280px, 140px);
}
#plan .anima1 .circulos{
  -webkit-animation: opacity1 1s cubic-bezier(.6,.01,.17,.97) ;
  -moz-animation: opacity1 1s cubic-bezier(.6,.01,.17,.97);
  -o-animation: opacity1 1s cubic-bezier(.6,.01,.17,.97);
  -ms-animation: opacity1 1s cubic-bezier(.6,.01,.17,.97) ;
  animation: opacity1 1s cubic-bezier(.6,.01,.17,.97) ;
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  -o-animation-delay: 2.2s;
  -ms-animation-delay: 2.2s;
  animation-delay: 2.2s;
   opacity: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


/* line 304 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios {
  text-align: center;
  position: relative;
  height: 100vh;
  z-index: 9999999!important;
}

/* line 308 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios > .contenedor {
  height: 100%;
  padding: 70px 0;
}

/* line 312 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios .contenedor {
  max-width: 1024px;
}

/* line 315 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios .contenedor h2 {
  color: #fd8e00;
}

/* line 320 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios .carrusel-testim {
  margin-bottom: 20px;
}


#testimonios .carrusel-testim h2{ 
  display: block;
 
  padding: 9px 25px;
  font-size: 18px;
 
  text-align: left;
}
#testimonios .carrusel-testim h2.fb{
  background: #4767d3 url('../img/icons/ico-fb.png') no-repeat right 15px center;
  color: #fff;
}
#testimonios .carrusel-testim h2.tw{
  background: #5a9ef2 url('../img/icons/ico-tw.png') no-repeat right 15px center;
  color: #fff;
} 
#testimonios .carrusel-testim h2.wsp{
  background: #36695f url('../img/icons/ico-wsp.png') no-repeat right 15px center;
  color: #fff;
} 
.ws .msg{
  background: url('../img/icons/bg-whass.jpg') 
}
.ws .msg .globo{
  background: #fff!important;
  border-radius: 6px!important;
  box-shadow: 2px  2px 1px #cbcbcb;
}

#testimonios .carrusel-testim   h2 span{
  display: block;
  font-size: 13px;
  color: blanco;
}
#testimonios .carrusel-testim .msg{
  display: flex;
  justify-content: space-between;
  
  padding:  20px;
}
#testimonios .carrusel-testim .facebook .msg{ border: 1px solid #e3e3e3;}
#testimonios .carrusel-testim .msg .logos{ width: 15%; padding-top: 8px; }
#testimonios .carrusel-testim .msg .globo{ width: 85%; box-sizing: border-box; background: #f0efef; border-radius:  30px; text-align: left; padding: 15px 30px; }

#testimonios .carrusel-testim .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 35px;
  height: 35px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

/* line 331 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios .carrusel-testim .slick-prev {
  left: -40px;
  background: url("../img/icons/arrow-left.png") center no-repeat;
}

/* line 335 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios .carrusel-testim .slick-next {
  right: -40px;
  background: url("../img/icons/arrow-right.png") center no-repeat;
}

/* line 339 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios .carrusel-testim .slick-list {
  max-width: 914px;
  margin: 0 auto;
}

/* line 343 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#testimonios #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 346 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.myKenburns .item-slide {
 /* -webkit-animation: myMove 8s 1 ease-in-out;
  -moz-animation: myMove 8s 1 ease-in-out;
  -o-animation: myMove 8s 1 ease-in-out;
  -ms-animation: myMove 8s 1 ease-in-out;
  -webkit-animation: myMove 8s 1 ease-in-out;
  -moz-animation: myMove 8s 1 ease-in-out;
  -o-animation: myMove 8s 1 ease-in-out;
  -ms-animation: myMove 8s 1 ease-in-out;
  animation: myMove 8s 1 ease-in-out;*/
}

/* line 354 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.myKenburns .slick-slide[aria-hidden="true"] .item-slide {
  visibility: hidden;
}

/* line 363 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */

@keyframes myMove {
	from { transform: scale(1.1,1.1); }
	to { transform: scale(1.0,1.0); }
}
@-webkit-keyframes myMove {
	from { -webkit-transform: scale(1.1,1.1);}
	to { -webkit-transform: scale(1.0,1.0);}
}
@-o-keyframes myMove {
	from { -o-transform: scale(1.1,1.1);}
	to { -o-transform: scale(1.0,1.0);}
}
@-moz-keyframes myMove {
	from { -moz-transform: scale(1.1,1.1);}
	to { -moz-transform: scale(1.0,1.0);}
}
@-ms-keyframes myMove {
	from { -ms-transform: scale(1.1,1.1);}
	to { -ms-transform: scale(1.0,1.0);}
}

@keyframes up-slide {
  from {  transform: translate(0%, -100%)  matrix(1, 0, 0, 1, 0, 0); }
  to { transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0); }
}
@-webkit-keyframes up-slide {
  from { -webkit-transform: translate(0%, -100%)  matrix(1, 0, 0, 1, 0, 0); }
  to { -webkit-transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);}
}
@-o-keyframes up-slide {
  from { -o-transform: translate(0%, -100%)  matrix(1, 0, 0, 1, 0, 0); }
  to { -o-transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);}
}
@-moz-keyframes up-slide {
  from { -moz-transform: translate(0%, -100%)  matrix(1, 0, 0, 1, 0, 0);}
  to { -moz-transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);}
}
@-ms-keyframes up-slide {
  from { -ms-transform: translate(0%, -100%)  matrix(1, 0, 0, 1, 0, 0);}
  to { -ms-transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);}
}

@keyframes topfade {
  from {  margin-top: -10px; opacity: 0; }
  to { margin-top: 0; opacity: 1;}
}
@-webkit-keyframes topfade {
  from { margin-top: -10px; opacity: 0;}
  to {  margin-top: 0; opacity: 1;}
}
@-o-keyframes topfade {
  from {  margin-top: -10px; opacity: 0;}
  to {  margin-top: 0; opacity: 1;}
}
@-moz-keyframes topfade {
  from {  margin-top: -10px; opacity: 0;}
  to { margin-top: 0; opacity: 1;}
}
@-ms-keyframes topfade {
  from {  margin-top: -10px; opacity: 0;}
  to {  margin-top: 0; opacity: 1;}
}


 
/* line 545 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
.barra-control .opc-slider {
  display: block;
  width: 8px;
  height: 8px;
  margin: 5px 0;
  border-radius: 50%;
}

/* line 553 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#cohete-despegar {
  display: inline-block;
  text-align: center;
}

/* line 556 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
#cohete-despegar .mover1 {
  -webkit-animation: flotar 0.5s infinite;
  -moz-animation: flotar 0.5s infinite;
  -o-animation: flotar 0.5s infinite;
  -ms-animation: flotar 0.5s infinite;
  animation: flotar 0.5s infinite;
}

/* line 568 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
/*@keyframes desplazar1
	0%
		transform translate(40px, 40px)
	100%
		transform translate(-30px, -25px)*/

/* line 358 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-moz-keyframes girar {

/* line 359 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 361 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

/* line 358 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-webkit-keyframes girar {

/* line 359 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 361 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

/* line 358 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-o-keyframes girar {

/* line 359 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 361 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

/* line 358 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@keyframes girar {

/* line 359 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

/* line 361 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

/* line 560 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-moz-keyframes flotar {

/* line 561 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 565 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 560 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-webkit-keyframes flotar {

/* line 561 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 565 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 560 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-o-keyframes flotar {

/* line 561 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 565 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 560 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@keyframes flotar {

/* line 561 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

/* line 563 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

/* line 565 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

/* line 574 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-moz-keyframes opacity1 {

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 577 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 574 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-webkit-keyframes opacity1 {

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 577 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 574 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@-o-keyframes opacity1 {

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 577 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

/* line 574 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
@keyframes opacity1 {

/* line 575 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

/* line 577 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\index2.styl */
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}


@keyframes mover-z{
 0% {
    -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
 }
 50% {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);

 }
 100% {
    -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
 }

}

@keyframes mover-y{
 0% {
    -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
 }
 50% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);

 }
 100% {
    -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
 }

}

@keyframes mover-y-logo{
 0% {

    -webkit-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
 }
 
 100% {
    -webkit-transform: translateY(37px);
  -ms-transform: translateY(37px);
  transform: translateY(37px);
 }

}