{% extends "estructura.twig" %}

{% set seccion = "home" %}
{% set info = datos.portada %}

{% block css %}
	<link rel="stylesheet" href="css/{{ seccion }}.css" media="screen" title="estilo">
{% endblock %}


{% block cuerpo %}

<article class="superior">
	<h1>Home</h1>
	<div class="acciones">
		<div class="filtro">
			<input type="search" name="buscar" id="buscar" placeholder="Filtrar">
		</div>
		<a href="#" id="agregar">Agregar</a>
	</div>
</article>
<section class="contenedor">
	<div id="contenido" class="listado">
		<!-- item -->
		<div class="item" data-categoria="a">
			<figure>
				<picture>
					<source srcset="img/img-intranet-ejemplo.jpg" media="(min-width: 600px)">
					<img src="img/img-intranet-ejemplo.jpg" />
				</picture>
			</figure>
			<h3>
				Buenaventura presentó portafolio diversificado para optimizar ...
			</h3>
		 
			<div class="categoria">
				Titulo categoria
			</div>
		 
			<div class="acciones">
				<div class="elimina">
					<form class="eliminar" action="" method="post">
						<input type="hidden" name="id" value="{{ item.id }}">
						<button type="submit" class="btn eliminar">Eliminar</button>
					</form>
				</div>
				<a class="btn" href="edicion.html">Editar</a>
			</div>
		</div>
		<!-- / item -->


		<!-- item -->
		<div class="item" data-categoria="a">
			<figure>
				<picture>
					<source srcset="img/img-intranet-ejemplo.jpg" media="(min-width: 600px)">
					<img src="img/img-intranet-ejemplo.jpg" />
				</picture>
			</figure>
			<h3>
				Buenaventura presentó portafolio diversificado para optimizar ...
			</h3>
		 
			<div class="categoria">
				Titulo categoria
			</div>
		 
			<div class="acciones">
				<div class="elimina">
					<form class="eliminar" action="" method="post">
						<input type="hidden" name="id" value="{{ item.id }}">
						<button type="submit" class="btn eliminar">Eliminar</button>
					</form>
				</div>
				<a class="btn" href="edicion.html">Editar</a>
			</div>
		</div>
		<!-- / item -->


		<!-- item -->
		<div class="item" data-categoria="a">
			<figure>
				<picture>
					<source srcset="img/img-intranet-ejemplo.jpg" media="(min-width: 600px)">
					<img src="img/img-intranet-ejemplo.jpg" />
				</picture>
			</figure>
			<h3>
				Buenaventura presentó portafolio diversificado para optimizar ...
			</h3>
		 
			<div class="categoria">
				Titulo categoria
			</div>
		 
			<div class="acciones">
				<div class="elimina">
					<form class="eliminar" action="" method="post">
						<input type="hidden" name="id" value="{{ item.id }}">
						<button type="submit" class="btn eliminar">Eliminar</button>
					</form>
				</div>
				<a class="btn" href="edicion.html">Editar</a>
			</div>
		</div>
		<!-- / item -->


		<!-- item -->
		<div class="item" data-categoria="a">
			<figure>
				<picture>
					<source srcset="img/img-intranet-ejemplo.jpg" media="(min-width: 600px)">
					<img src="img/img-intranet-ejemplo.jpg" />
				</picture>
			</figure>
			<h3>
				Buenaventura presentó portafolio diversificado para optimizar ...
			</h3>
		 
			<div class="categoria">
				Titulo categoria
			</div>
		 
			<div class="acciones">
				<div class="elimina">
					<form class="eliminar" action="" method="post">
						<input type="hidden" name="id" value="{{ item.id }}">
						<button type="submit" class="btn eliminar">Eliminar</button>
					</form>
				</div>
				<a class="btn" href="edicion.html">Editar</a>
			</div>
		</div>
		<!-- / item -->


		<!-- item -->
		<div class="item" data-categoria="a">
			<figure>
				<picture>
					<source srcset="img/img-intranet-ejemplo.jpg" media="(min-width: 600px)">
					<img src="img/img-intranet-ejemplo.jpg" />
				</picture>
			</figure>
			<h3>
				Buenaventura presentó portafolio diversificado para optimizar ...
			</h3>
		 
			<div class="categoria">
				Titulo categoria
			</div>
		 
			<div class="acciones">
				<div class="elimina">
					<form class="eliminar" action="" method="post">
						<input type="hidden" name="id" value="{{ item.id }}">
						<button type="submit" class="btn eliminar">Eliminar</button>
					</form>
				</div>
				<a class="btn" href="edicion.html">Editar</a>
			</div>
		</div>
		<!-- / item -->
	</div>
</section>
 
{% endblock %}

{% block js %}
 
	
{% endblock %}