{% extends "estructura.twig" %}

{% set seccion = "login" %}
{% set info = datos.portada %}

{% block css %}
	<link rel="stylesheet" href="css/{{ seccion }}.css" media="screen" title="estilo">
{% endblock %}


{% block encabezado %}
{% endblock %}

{% block cuerpo %}
 	<section class="portada-home">
	 	<article id="login">
	 		
	 		<div class="form-login">
	 			<form action="interna.html">
	 				<div class="logo"><img src="img/atomikal-logo.png" alt="Atomikal" /></div>
		 		<p class="tex">Administrador de contenidos</p>
		 			<!--<div class="error">
						El usuario y/o la contraseña que ha ingresado no es correcto
	 				</div>-->
	 				<div class="grupo-label">
	 					
	 					<input type="text" name="" class="camp" placeholder="Usuario" required="required">
	 				</div>
	 				<div class="grupo-label">
	 					
	 					<input type="password" name="" class="camp" placeholder="Clave"  required="required">
	 				</div>
	 				
	 					<input type="submit" name="" value="Ingresar" class="boton-1" />
	 				</div>
	 			</form>
	 		</div>	
	 	</article>	

 	</section>
{% endblock %}

{% block pie %}
{% endblock %}

{% block js %}
	 
	
	
{% endblock %}