@require "base/utiles"
@require "nib"


global-reset()
reset-html5()

html *

	//background-color rgba( 0, 0, 0, 0.1 )
	//outline 1px solid rgba( 255, 255, 0, 0.1 )

	&:hover
		//outline 1px solid rgba( 255, 0, 255, 0.5 )


fuente( "Open Sans", "OpenSans-Light", 300 )
fuente( "Open Sans", "OpenSans", normal )
fuente( "Open Sans", "OpenSans-Semibold", 600 )
fuente( "Open Sans", "OpenSans-Bold", bold )
fuente( "Open Sans", "OpenSans-Extrabold", 800 )

body
	min-height 100vh
	font-weight 300
	font-family "Open Sans"
	font-size 0.99rem
	color gris
	line-height 1.3em

#pagina
	background-color #737277
	min-height 100vh
	relative top left right bottom
	

header
	absolute top left right
	text-align center
	background-color plomo
	if dark(tinte)
		color blanco
	else
		color negro
	
	.logo
		padding .5rem 0 .1rem 0
		display inline-block

#menu
	background-color naranja1
	padding 0 1rem
	+hasta( escritorio )
		position absolute
		top 68px
		width 100%
		box-sizing border-box
		padding 0.5rem 1rem 0.6rem 1rem
		
	input
		display none
	.control
		display none
		+hasta( escritorio )
			margin-top 5px
			display block
			border-top 9px double blanco
			border-bottom 3px solid blanco
			height 3px
			width 20px
			margin-right 15px
			float left
	.lista
		
		text-align center
		+hasta( escritorio )
			display none
			width 100%
			absolute top 36px left
			z-index 1
			background plomo2
			padding 10px 0 0 0
			max-height calc(100vh - 60px)
			overflow scroll
			background azul2
					
		li
			
			text-align center
			display inline-block
			+hasta( escritorio )
				display block

		a
			color gris1
			text-decoration none
			display block
			padding 0.84rem
			
			font-size (14 / 16)rem
			font-weight 600
			letter-spacing 0.2px
			transition background .4s
			+hasta( escritorio )
				max-width 100%
				box-sizing border-box
				color blanco
			

			&:hover
				background naranja2

		.activo
			text-decoration none
			display block
			padding 0.84rem
			font-size (14 / 16)rem
			font-weight 600
			letter-spacing 0.2px
			background naranja2
	input:checked + .lista
		display block
			
#usuario
	padding 0.5rem
	text-align right
	absolute top 13px right 10px
	+hasta( escritorio )
		absolute top 70px right 10px
	h2
	a
		color blanco
		display inline-block
		font-weight 400
		font-size (14 / 16)rem
		letter-spacing 0.4px
		+hasta( escritorio )
			font-size (12.5 / 16)rem
			color gris1
	h2
		padding-right 15px
		border-right 1px solid alpha(blanco, 50%)
		margin-right 10px
		font-weight 600
	a
		text-decoration none
#cuerpo
	absolute top 7.1rem left right bottom
	padding 1rem
	display flex
	flex-direction column
	overflow auto
	h1
		color naranja1
	.superior
		flex 0 0 auto
		display flex
		margin-bottom 1rem
		padding 0 1.5rem
		box-sizing border-box
		@media (max-width: 768px)
			display block
		if dark(tinte)
			color blanco
		else
			color negro

	.contenedor
		flex 1 0 auto
		background #f8f8f8
		padding 15px
	.tit-1
		font-weight 700
		display block
		font-size (13 / 16)rem
		margin-bottom 5px
		color plomo
/* bloques */
.fila
	margin-bottom 0.5rem
	
	box-sizing border-box
 
	
	label
		font-size 0.8em
		

	select
	input
	textarea
		box-sizing border-box
		background blanco
		width 100%
		border-radius 0
		box-sizing border-box
		padding 8px 15px
		font-size (14.15 / 16)rem
		letter-spacing 0.3px
		color gris
		font-family "Helvetica"
		outline none
		border 1px solid #d0d0d0
		
	
figure
	max-width 100%
	background-color lighten( tinte, 50%)
	background-image linear-gradient(45deg, darken( tinte, 30% ) 25%, transparent 25%, transparent 75%, darken( tinte, 30% ) 75%, darken( tinte, 30% )), 
	linear-gradient(45deg, darken( tinte, 30% ) 25%, transparent 25%, transparent 75%, darken( tinte, 30% ) 75%, darken( tinte, 30% ))
	background-size: 20px 20px;
	background-position:0 0, 10px 10px
	
	img 
		display block
		max-width 100%
		object-fit contain
		margin auto
.botones-final
	background crema14
	margin 0 8px
	margin-bottom -15px

#medios
.portada
	.imagen
		margin-bottom 0.5rem
	.titular
		@media( max-width: 425px )
			.boton-1
				width 70px
				margin-left 10px
	
.upload
	margin-bottom 10px
	width 100%
	.campo
		font-size 0.875rem
		background blanco
		border 1px solid alpha(negro, 20%)
		box-sizing border-box
		padding 7px 15px
		width calc(100% - 110px)
		
	.adjunto-img
		position absolute
		width 0
		overflow hidden
	label
		display block
		background transparent
		position relative
		&:before
			content 'Foto'
			display inline-block
			color #9a9a9a
			box-sizing border-box
			width 100%
			right 0
			height inherit
			overflow hidden
			text-overflow ellipsis
			vertical-align middle
			text-align left
	label[title]:not([title=""]):before
		content attr(title)
	span
		position absolute
		z-index 1
		width 100px
		display inline-block
		background naranja1
		color #fff
		box-sizing border-box
		text-align center
		padding 8px 0
		border-radius 12px
		//margin -8px
		top 0
		right -110px
		transition all 0.4s
		cursor pointer
		font-size 1rem
		font-weight 500
#acciones
	padding 1rem 0.5rem
	
	margin 30px 10px 0 10px
	display flex
	justify-content center
	position relative
	
	+hasta( escritorio )
		margin 0
	.boton-1
		font-size ( 14.61 / 16)rem
		margin 0 15px
		padding 8px 0
		width 140px
		border-radius 12px
	
	
	
	

.carrusel
	margin-bottom 0.5rem
	
	ul
		border crema14
		display flex
		flex-wrap wrap
		
		li
			flex 1 0 50%
			padding 0.5rem
			box-sizing border-box
 
			
.superior
	display flex
	justify-content space-between
	align-items center
	
	h1
		line-height 1
		font-weight 600
		letter-spacing 0.2px

	.acciones
		display flex
		align-items center
		@media( max-width: 768px )
			margin-top 10px
		@media( max-width: 425px )
			display block
		&>* + *
			margin-left 1rem
			
		.filtro
			background-color lighten( tinte, 90%)
			border-radius 8px
			
			@media( max-width: 425px )
				width 100%
				margin-bottom 6px
				
			input
				display block
				min-height 1rem
				padding 0.4rem 1rem
				font-size 0.8rem
				line-height 1
				border none
				border-radius 8px
				outline none
				background #d2d2d2
				
				@media( max-width: 425px )
					width 100%
		#agregar
			@media( max-width: 425px )
				width 100px
				margin auto
				
		.desplegable
			font-weight bold
			background-color lighten( tinte, 50%)
			font-size 1rem 
			position relative
			display flex
			flex-direction column
			max-height 2rem
			@media( max-width: 425px )
				margin-bottom 6px
				margin-left 0
				
			button
				margin 0
				flex 0 0 auto
				
			.control
				display flex
				justify-content space-between
				align-items center

				label
					display block
					line-height 1
					color blanco

				&::after
					t = 0.8rem
					content ""
					display block
					margin-left t
					border t*0.6 solid transparent
					border-top t solid blanco
					border-bottom-width 0
					transition 350ms transform
					@media( max-width: 425px )
						margin-left 0
				
				
			.lista
				flex 0 0 auto
				//absolute top 100% left right
				position relative
				z-index 1
				display flex
				flex-direction column
				transition 150ms max-height
				max-height 0vh
				overflow hidden
				background-color lighten( tinte, 80%)
				
				button
					background-color lighten( tinte, 80%)
					border-radius 0
					color gris1

					& + button
						border-top 1px solid lighten( tinte, 60% )

					&:hover
						background-color lighten( tinte, 50%)
					
				
			&.abierto
				.control
					&::after
						transform scale( 1, -1)

				.lista
					max-height 50vh
					transition 750ms max-height

		a
		button
			line-height 1
			font-size 1rem
			min-width 80px
			font-family "Open Sans"
			display block
			background plomo2
			color blanco
			font-size (12 / 16)rem
			font-weight 600
			border-radius 8px
			padding 7px 5px
			border none
			outline none
			cursor pointer
			letter-spacing 0.2px
			margin 0 0 0 5px
			text-align center
			transition all .4s
			text-decoration none
			&:hover
				background #535353
			


#contenido
	display flex
	
	@media( max-width: 700px )
		display block
	
	&.listado
		flex-wrap wrap
	
	.principal
		flex 1 0 45%
		padding 0.5rem 5rem 0.5rem 0.5rem
		box-sizing border-box
		@media( max-width: 700px )
			padding 0.5rem	
		
		.atributos
			display flex
			@media( max-width: 700px )
				display block
		
			
		.seo
			flex 1 0 auto
			box-sizing border-box
			
		.contenidos
			flex 1 0 auto
			
		
	.lateral
		flex 0 0 45%
		padding 0.5rem
		box-sizing border-box
		

	.item
		margin 0.5rem
		padding 1rem
		flex 1 0 180px
		max-width 260px
		background-color #ebeae6
		text-decoration none
		position relative
		display flex
		flex-direction column
		color plomo2
		box-sizing border-box
		figure
			position relative
			margin-bottom 0.5rem
			
			&::before
				content " ";
				display block
				padding-top 90%
			
			img
				display block
				width 100%
				height 100%
				absolute top left
				object-fit cover
				object-position top
				
		h3
			line-height 1.2
			flex 1 0 auto
			margin-bottom 1rem
			font-weight 700
			font-size (13 / 16)rem
			color gris2
		.acciones
			display flex
			align-items center
			justify-content space-between
			margin -0.5rem
			
			padding .5rem
			
			button
			a
				width 100px
				display block
				font-family "Open Sans"
				line-height 1
				color blanco
				font-size (12 / 16)rem
				font-weight 600
				border-radius 9px
				padding 7px 0
				border none
				outline none
				cursor pointer
				letter-spacing 0.2px
				margin 0
				text-decoration none
				background naranja1
				text-align center
				transition background .4s
				&:hover
					background naranja2
				&.eliminar
					background plomo2
					&:hover
						background #4e4e4e
				
			
		.categoria
			absolute top 0 right 0
			max-width 60%
			font-size 0.8em
			text-align right
			padding 0.5em
			font-weight 500
			color blanco
			background alpha(naranja1, 99%)
	
	table
		flex 1 0 100%
		margin 0.5rem
		table-layout fixed
		box-sizing border-box
		
		th
			padding 0.5rem
			text-align center
			background-color darken( tinte, 50%)
			color lighten( tinte, 70%)
			width auto

			&:first-child
			&:last-child
				width 1%

		
			
		tbody
			tr
				&:nth-child(odd)
					background-color alpha(darken( tinte, 10%), 0.1)
				td
					padding 0.4rem 0.3rem
					text-align center
		
.portada
	margin-bottom 30px


#medios
.portada
	figure
		width auto
		display inline-block
		img
			height 90px
.titular
	display flex
	align-items center
	justify-content space-between
	align-items flex-end
	margin-bottom 0.5rem
	max-width 100%
	line-height 1
	h3
		font-size (13 / 16)rem
		color plomo
		font-weight 700
		width 80%
		@media( max-width: 425px)
			width 100%
		.medida-sug
			color gris
			font-weight 300
			margin-left 10px
			@media( max-width: 425px)
				display block
				margin-left 0
		.campo-adj
			margin-top 6px
			max-width 430px
	 

.editor
	background blanco
	height 100px !important
	border 1px solid alpha(negro, 20%) !important
	p
		font-family "Open Sans" !important
		font-size (15 / 16)rem
			
			

.dialogo-confirmacion
	z-index 3
	fixed top  left bottom right
	margin auto
	max-width 300px
	max-height 110px
	transition top 300ms
	box-shadow 0 0 20px plomo1
	padding 30px
	background blanco
	text-align center
	border-radius 4px
	h4
		font-weight 600
		color naranja1
		font-size (17 / 16)rem
		margin-bottom 20px
	p
		font-weight 500
	button
		display inline-block
		margin 1.5em 1em
		border 0
		outline none
		padding 5px 35px
		background naranja1
		color blanco
		cursor pointer
		border-radius 5px
		font-size (16 / 16)rem
		font-weight 600
		&:hover
			background #ce9c55
	
.dialogo
	z-index 3
	fixed top 100vh left bottom right
	margin auto
	max-width 90vw
	max-height 70vh
	transition top 300ms
	
	&::before
		z-index -1
		content " "
		display block
		fixed top 100vh left bottom right
		width 100vw
		height 100vh
		transition top 200ms
		background-color alpha(darken( tinte, 50%), 0.8)
		
	&.visible
		top 0
		
		&::before
			top 0

	.titular
		background-color naranja1
		padding 0.5rem
		margin-bottom 0
		color lighten( tinte, 70%)
		h4
			color blanco
			font-weight 600
		.cerrar
			background naranja1
			border 0
			outline none
			cursor pointer
			color blanco
			border-radius 50%
			font-size (18 / 16)rem

	.contenedor
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items	stretch
		overflow auto
		display block
		max-width 100%
		max-height 100%
		background-color blanco
		
		button
			margin 0.5rem
			border none
			padding 0
			flex 1 0 auto
			cursor pointer
			//max-width 260px
			
			figure
				max-width 180px
				display block
				position relative



//formularios 

.camp
	background blanco
	width 100%
	border-radius 11px
	border 1px solid alpha(naranja1, 30%)
	box-sizing border-box
	padding 8px 15px
	font-size (15.15 / 16)rem
	letter-spacing 0.3px
	color gris
	font-family "Helvetica"
	outline none
	
.camp2
	box-sizing border-box
	background blanco
	width 100%
	border-radius 0
	border 1px solid alpha(negro, 20%)
	box-sizing border-box
	padding 7px 15px
	font-size (14.15 / 16)rem
	letter-spacing 0.3px
	color gris1
	font-family "Helvetica"
	outline none
	


.boton-1
	width 100px
	display inline-block
	background naranja1
	color blanco
	font-size 1rem
	font-weight 500
	outline none
	border-radius 12px
	text-decoration none
	padding 9px 0
	border none
	outline none
	cursor pointer
	letter-spacing 0.2px
	margin 0
	font-family "Open Sans"
	text-align center
	line-height 1
	transition background .4s
	@media (max-width: 425px)
		font-size (15 / 16)rem
	&:hover
		background naranja2
	&.boton-2
		background plomo2
		&:hover
			background #535353
	
.enviar
	background naranja1
	color blanco
	font-size (15.16 / 16)rem
	font-weight 600
	width 150px
	border-radius 13px
	padding 7px 0
	border none
	outline none
	cursor pointer
	letter-spacing 0.5px
	margin auto
	font-family "Helvetica"
	+hasta( escritorio )
		font-size (14 / 16)rem
		
		margin 0 auto
		letter-spacing normal
#mensajes
	background-color lighten( tinte, 30%)
	margin-bottom 1rem
	padding 0.5rem
	