@require "base/utiles"
@require "nib"

.info-detalle
	p
		line-height 1.4
	
.info-tit
	margin-bottom 30px
.logos-marcas
	text-align center
	margin 15px 0 0 0
	.img
		display inline-block
		margin 0 10px 3px 10px
		
		@media(max-width: 580px)
			margin 0 5px 3px 5px
			width 20%
			text-align center
			img
				height 40px
				
			
			
			