@require "base/utiles"
@require "nib"


*::-webkit-input-placeholder {
    color: #909090;
}
*:-moz-placeholder {
    color: #909090;
}
*::-moz-placeholder {
    color: #909090;
}
*:-ms-input-placeholder {
    color: #909090;
}

body
	background plomo
	
#cuerpo
	position static
	top 0
	background transparent
	padding 0
.logo
	@media ( max-width: 425px)
		img
			width 140px
.portada-home
	min-height 100vh
	width 100%
	.logo
		margin 10px 0
		@media ( max-width: 425px)
			max-width 100px
			margin 0 auto 10px auto
		img
			max-width 100%
	#login
		max-width 400px
		text-align center
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		
		
		@media ( max-width: 425px)
			font-size (12.5 / 16)rem
			padding 0 40px
			p
				margin-bottom 5px
		img
			display inline-block
		.form-login
			padding 25px 45px 40px 45px
			max-width 540px
			box-sizing border-box
			margin 0 auto
			background gris1
			@media ( max-width: 425px) 
				padding 25px 20px
				width 280px !important
				
			.tex
				font-size 1rem
				font-weight 600
				margin-bottom 13px
				@media ( max-width: 425px)
					font-size (14.27 / 16)rem
			.grupo-label
				margin-bottom 14px
				@media ( max-width: 425px)
					margin-bottom 11px
		label
			font-size ( 13.2 / 16)rem
			display block
			text-align left
			margin-bottom 7px
			padding 0 4px
		.camp
			background blanco
			
			border 1px solid alpha(negro, 10%)
			padding 9px 12px
			width 290px
			box-sizing border-box
			font-size (14 / 16)rem
			letter-spacing 0.7px
			@media ( max-width: 425px) 
				padding 5px 12px
				width 100%
		.boton-1
			min-width 145px 
 .error
 	color #d35757
 	font-size (12 / 16)rem
 	margin 10px
 	padding 5px
 	border-radius 8px
 	background #f2d9d9
 	border 1px solid #e3c1c1
 	font-weight 600
 	line-height 1
 	