<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	{% for etiqueta in metaetiquetas %}
		<meta{% for clave, valor in etiqueta %} {{ clave }}="{{ valor }}" {% endfor %}/>
	{% endfor %}

	<link rel="icon" href="img/icono.png" type="image/png">
	<link rel="shortcut icon" href="img/icono.png" />

	<title>{{ titulo }}</title>

	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% block css %}{% endblock %}
	<script>
		document.createElement( "picture" );
	</script>
</head>
<body>
	{# {% include 'seguimiento.twig' %} #}
	{% block seguimiento %}{% endblock %}

	{% block pagina %}{% endblock %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/picturefill.min.js" async></script>
	<script type="text/javascript" src="js/general.js" async defer></script>
  	{% block js %}
	{% endblock %}
</body>
</html>
