{% extends 'base.twig' %}

{% block pagina %}

	{% block encabezado %}
	<header id="encabezado">
		<div class="head-top">

			<h1 class="logo">
				<img src="img/atomikal-logo-blanco.png" alt="">
			</h1>
			<aside id="usuario">
				<h2>usuario</h2>
				<a href="#salir">Cerrar sesión</a>
			</aside>

		</div>


		<nav id="menu">
			<label class="control" for="control-menu"></label>
			<input type="checkbox" id="control-menu" />
			<ul class="lista">
				
				    
				    <li class="enlace"><a href="#">Quienes Somos</a></li>
				    <li class="enlace"><a href="#">Qué hacemos</a></li>
				    <li class="enlace"><a href="#" class="activo">Nuestros proyectos</a></li>
				    <li class="enlace"><a href="#">Blog</a></li>
				    <li class="enlace"><a href="#">Contacto</a></li>
				    			
			</ul>
		</nav>

	</header>

	{% endblock %}


<section class="pagina">
 	<main id="cuerpo">
	{% block cuerpo %}
	
	{% endblock %}
	</main>

 

	{% block pie %}

	

	{% endblock %}

</section>
   

{% endblock %}
