@require "base/utiles"
@require "nib"

#encabezado
	display grid
	grid-template-areas:
		"logo"\
		"menu"
	grid-template-columns auto
	grid-template-rows 64px auto
	align-items center

	.logo
		grid-area logo
		justify-self center

		img
			object-fit: contain;
			
		
#usuario
	grid-area logo
	justify-self end
	padding: .5rem
	text-align: center;

	h2
		margin: 0 0 .5em
		font-weight: bold

	a
		color inherit
		text-decoration: none
		font-size: .8em
		color blanco


#navegacion
	grid-area menu
	background-color plomo2

	ul
		display: grid;
		grid-auto-flow: column;
		justify-content: space-evenly

		li
			text-align center
			font-size (14 / 16)rem
			font-weight bold

			a
				display: block;
				box-sizing: border-box;
				padding 0.84rem
				font-weight 500
				line-height: 1
				color inherit
				text-decoration: none;
				&:hover
					background-color crema13
					
		.activo
			color blanco
			display block
			padding 0.84rem
			background-color crema13
			font-size (14 / 16)rem
			font-weight 500
			letter-spacing 0.2px