@require "base/utiles"
@require "nib"

#listado
	display: grid;
	grid-template-columns repeat( 5, 1fr )
	grid-gap: 1rem;
	grid-auto-flow: rows;
	margin: 1rem;
	
	@media( max-width: 1200px )
		grid-template-columns repeat( 4, 1fr )
	@media( max-width: 960px )
		grid-template-columns repeat( 3, 1fr )


	.item
		padding 1rem
		background-color plomo4
		display grid
		grid-template-areas:
			"imagen"\
			"titulo"\
			"acciones"
		grid-template-rows minmax( 1rem, min-content ) 1fr auto
		align-content end
		text-decoration none
		position relative
		
		&:hover
			background-color darken( plomo4, 10% )
		
		&::before
			content " "
			display block
			clear both
			grid-area imagen
		
		figure
			//max-width 180px
			grid-area imagen
			position relative
			overflow hidden
			margin-bottom .5rem
			
			&::before
				content " ";
				display block
				padding-top 160px
				clear both
				
			img
				display block
				width 100%
				height 100%
				absolute top left right botton
				object-fit cover
				object-position top
				
		h3
			line-height 1.2
			margin-bottom 1rem
			font-weight 600
			font-size (13 / 16)rem
			
		.categoria
			absolute top 0 right 0
			max-width 60%
			font-size 0.8em
			text-align right
			padding 0.5em
			font-weight 500
			color blanco
			background-color plomo5
			
		.acciones
			grid-area acciones
			display grid
			grid-template-columns repeat( 2, 1fr )
			grid-gap: 0.5rem;
			grid-auto-flow: rows;
			align-items stretch
			justify-items stretch
			margin 0
			
			button
			a
				outline none
				cursor pointer
				text-decoration none
				line-height 1
				font-family "Helvetica"
				display block
				width 100%
				background crema10
				color blanco
				font-size (12 / 16)rem
				font-weight 600
				border-radius 8px
				padding 7px 0
				border none
				outline none
				cursor pointer
				letter-spacing 0.2px
				margin 0
				font-family "Helvetica"
				text-align center
				
			.eliminar
				button
					background plomo5
				