@require "base/utiles"
@require "nib"

#pagina
	background-color darken( desaturate( tinte, 60% ), 70% )
	height 100vh
	box-sizing: border-box;
	display grid
	grid-template-areas:
		"encabezado"\
		"cuerpo"\
		"pie"
	grid-template-rows auto 1fr auto

#encabezado
	grid-area encabezado
	background-color plomo3
	color blanco

#cuerpo
	grid-area cuerpo
	padding 1rem
	background-color crema12
	overflow: hidden;

#pie
	grid-area pie
	background-color: darken( desaturate( tinte, 90% ), 90% )