.campo
	box-sizing border-box
	
	label
		font-weight: 600;
		display: block;
		font-size: .8125rem;
		margin-bottom: 5px;
		color: #474747;
		//padding 0.2rem

	select
	input
	textarea
		//flex 1 0 auto
		box-sizing border-box
		background crema14
		width 100%
		max-width 100%
		border-radius 0
		border 1px solid alpha(gris3, 30%)
		box-sizing border-box
		padding 8px 15px
		font-size (14.15 / 16)rem
		letter-spacing 0.3px
		color gris1
		font-family "Helvetica"
		outline none
		

	textarea
		resize vertical
		margin 0
		
	[type="date"]
		padding 6px 15px
		
	select
		padding 7px 15px

	table
		flex 1 0 100%
		margin 0.5rem
		//border 0.5rem solid transparent
		table-layout fixed
		//width 100%
		box-sizing border-box
		
		th
			padding 0.5rem
			text-align center
			background-color darken( tinte, 50%)
			color lighten( tinte, 70%)
			width auto

			&:first-child
			&:last-child
				width 1%

		tbody
			tr
				&:nth-child(odd)
					background-color alpha(darken( tinte, 10%), 0.1)
				td
					padding 0.4rem 0.3rem
					text-align center
					
.contenido
	display grid
	grid-template-areas:
		"propiedades lateral"\
		"contenidos lateral"\
		"adicionales adicionales"\
		"acciones acciones"
	grid-template-columns 1fr min-content
	grid-template-rows min-content 1fr auto
	padding 1rem

	.propiedades
		grid-area propiedades
		margin-bottom 1rem
		display grid
		grid-gap 0.5rem
		align-content start
		
	.atributos
		grid-area lateral
		margin-left 2rem
		margin-bottom 1rem
		width 360px
		display grid
		grid-gap 0.5rem
		align-content start
		
	.contenidos
		grid-area contenidos
		margin-bottom 1rem
		display grid
		grid-auto-flow column
		grid-template-rows auto 1fr
		
	.adicionales
		grid-area contenidos
		margin-bottom 1rem
		display grid
		grid-auto-flow row
		grid-gap 0.5rem
		align-content start
		
	#acciones
		grid-area acciones
		display grid
		grid-template-columns repeat( 2, auto )
		grid-auto-flow row;
		grid-gap 30px
		justify-items center
		justify-content center
		
		a
		button
			border none
			font-size: .913125rem;
			padding: 8px 0;
			width: 140px;
			border-radius: 12px;
			font-family "Helvetica"
			display block
			background crema10
			color blanco
			font-weight 600
			border-radius 8px
			padding 7px 0
			border none
			outline none
			cursor pointer
			letter-spacing 0.2px
			margin 0
			font-family "Helvetica"
			text-align center
			text-decoration none
			line-height 1
			
			&[type="reset"]
			&.cancelar
				background-color plomo5
				
			&[type="submit"]
				background crema10
				color blanco
				font-size (15.16 / 16)rem
				font-weight 600
				width 150px
				border-radius 13px
				padding 7px 0
				border none
				outline none
				cursor pointer
				letter-spacing 0.5px
				margin auto
				font-family "Helvetica"
				+hasta( escritorio )
					font-size (14 / 16)rem
					
					margin 0 auto
					letter-spacing normal
					
#plantillas
	display none