@require "base/utiles"
@require "nib"

#cuerpo
	display: grid;
	grid-template-areas:
		"titular"\
		"contenedor"\
		"adicional"
	grid-template-rows auto 1fr min-content


	.superior
		grid-area titular
		color blanco
		margin: 0 0 1rem
		font-weight: bold;
		font-size: 1.2rem
		text-transform uppercase
		display grid
		grid-template-areas "titulo acciones"
		grid-template-columns repeat( 2, auto )
		justify-content space-between
		align-items center
		
		h1
			grid-area titulo
			line-height 1
			font-weight 600
			letter-spacing 0.2px

		.acciones
			grid-area acciones
			display grid
			grid-template-columns repeat( 3, auto )
			grid-auto-flow dense
			align-items center
			justify-content end
			grid-gap 1rem
							
			.filtro
				background-color lighten( tinte, 90%)
				border-radius 8px
				
				@media( max-width: 425px )
					width 100%
					margin-bottom 6px
					
				input
					display block
					min-height 1rem
					padding 0.4rem 1rem
					font-size 0.8rem
					line-height 1
					border none
					border-radius 8px
					@media( max-width: 425px )
						width 100%
			#agregar
				@media( max-width: 425px )
					width 100px
					margin auto
					
			.desplegable
				font-weight bold
				font-size 1rem 
				position relative
				//display flex
				//flex-direction column
				//max-height 2rem
				display grid
				grid-template-columns max-content
				grid-template-rows auto 0
				overflow visible
				
				@media( max-width: 425px )
					margin-bottom 6px
					margin-left 0
					
				button
						
					margin 0
					//flex 0 0 auto
					
					> *
						outline none
						cursor pointer
						
				.control
					display flex
					justify-content space-between
					align-items center
					transition 150ms border-radius 

					label
						display block
						line-height 1
						color blanco

					&::after
						t = 0.8rem
						content ""
						display block
						margin-left t
						border t*0.6 solid transparent
						border-top t solid blanco
						border-bottom-width 0
						transition 350ms transform
						@media( max-width: 425px )
							margin-left 0
					
					
				.lista
					margin-top 0
					margin-bottom -75vh
					//flex 0 0 auto
					//position relative
					//absolute top 100% left 50%
					//transform translatex( -50% )
					z-index 1
					display grid
					grid-template-columns max-content
					align-items start
					align-content start
					transition 150ms max-height
					max-height 0vh
					overflow hidden
					
					button
						background-color lighten( tinte, 80%)
						border-radius 0
						color gris1

						& + button
							border-top 1px solid lighten( tinte, 60% )

						&:hover
							background-color lighten( tinte, 50%)
						
					
				&.abierto
					.control
						border-radius 8px 8px 0 0 
						&::after
							transform scale( 1, -1)

					.lista
						max-height 75vh
						transition 750ms max-height
						
						> button:last-child
							border-radius 0 0 8px 8px

			a
			button
				line-height 1
				font-size 1rem
				min-width 80px
				font-family "Helvetica"
				display block
				background plomo5
				color blanco
				font-size (12 / 16)rem
				font-weight 600
				border-radius 8px
				padding 7px 8px
				border none
				outline none
				cursor pointer
				letter-spacing 0.2px
				margin 0 0 0 5px
				font-family "Helvetica"
				text-align center
				text-decoration none


	.contenedor
		grid-area contenedor
		background-color: blanco
		overflow auto